n8n/full-workflows/00-telegram-router.json
{
  "name": "GivSharifi — 00 Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "b3016c9a-bd18-4203-ba1c-7314a3cccb2d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f391c0a0-ca88-4866-a7bb-138cfdb3628b",
              "leftValue": "={{ String($json.message?.chat?.id || $json.callback_query?.message?.chat?.id) }}",
              "rightValue": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3ea9607c-0027-45cf-8cc6-3e895eff7119",
      "name": "Authorized chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.photo ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "instagram.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blog",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blog"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ce6fa6db-f696-4ea2-97c8-bc7eb7b2b14b",
      "name": "Route message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Prof. Giv Sharifi — Content Bot\n\n📷 Send a photo → gallery\n🎬 Send Instagram reel URL → videos\n📝 Send /blog then your draft text\n\nImages → GitHub | Videos → Cloudflare R2",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              {
                "text": "📷 Photo help",
                "callback_data": "help_photo"
              }
            ],
            [
              {
                "text": "🎬 Video help",
                "callback_data": "help_video"
              }
            ],
            [
              {
                "text": "📝 Blog help",
                "callback_data": "help_blog"
              }
            ]
          ]
        }
      },
      "id": "bedc07be-aa60-4645-b5e3-f89aac1dacea",
      "name": "Send menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "3ead7245-d543-46a4-a44a-51505e45bb83",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "45bb397c-b72a-413d-9798-a7e5516241dc",
              "name": "photo_file_id",
              "value": "={{ $json.message.photo.slice(-1)[0].file_id }}",
              "type": "string"
            },
            {
              "id": "1a096c31-4df2-4c7f-9c33-85266e8e60ba",
              "name": "caption",
              "value": "={{ $json.message.caption || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "08586c22-02f7-4824-94c3-6278cfe26bd9",
      "name": "Prepare photo payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_PHOTO_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "95fe299b-1c17-40d3-9600-dc54851da3d7",
      "name": "Run publish photo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "notes": "After import: set GIV_WF_PHOTO_ID to workflow ID of 01-publish-photo"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "bb4bb3e5-d7af-4336-9173-579bd200f3f0",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "39340caa-f07f-41a6-949d-3d4f299885f0",
              "name": "reel_url",
              "value": "={{ $json.message.text.trim() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "cb244de6-1c4b-48d7-885a-b139adece074",
      "name": "Prepare video payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_VIDEO_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "7b2b66ed-f27b-4157-95bc-c1f71960cf33",
      "name": "Run publish video",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ],
      "notes": "Set GIV_WF_VIDEO_ID after import"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1788dc5-4dd8-49a6-a8d9-ae144bcf198f",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "828dab27-4a18-48e5-9acc-37d9ac5e4082",
              "name": "draft_text",
              "value": "={{ $json.message.text.replace(/^\\/blog\\s*/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "1c814398-5fc6-49cc-b13d-afb63629a4a8",
              "name": "photo_file_id",
              "value": "={{ $json.message.photo ? $json.message.photo.slice(-1)[0].file_id : '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "93949052-8343-41c6-84ae-c94155cab18b",
      "name": "Prepare blog payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_BLOG_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "f7093b45-d120-475c-9dbb-74b7ae5e7d1e",
      "name": "Run publish blog",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "notes": "Set GIV_WF_BLOG_ID after import"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Send:\n• Photo (with optional caption)\n• Instagram reel link\n• /blog Your article draft…"
      },
      "id": "50778ca3-8e0a-4288-b2f0-fc573d05a77e",
      "name": "Send help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "Unauthorized."
      },
      "id": "5481515a-3063-400e-8fc6-b4b3ed411d6d",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Telegram router\nImport sub-workflows first. Copy their workflow IDs into env vars:\n`GIV_WF_PHOTO_ID`, `GIV_WF_VIDEO_ID`, `GIV_WF_BLOG_ID`\n\nOr replace Execute Workflow nodes with manual workflow picker after import."
      },
      "id": "26d5b520-9d47-40dc-91f4-a35d5e65ab82",
      "name": "Note: Router",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Authorized chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized chat?": {
      "main": [
        [
          {
            "node": "Route message type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route message type": {
      "main": [
        [
          {
            "node": "Send menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare photo payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare video payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare blog payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare photo payload": {
      "main": [
        [
          {
            "node": "Run publish photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare video payload": {
      "main": [
        [
          {
            "node": "Run publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare blog payload": {
      "main": [
        [
          {
            "node": "Run publish blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b284cb64-f5f6-4289-be76-5f2fa9162685",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
