n8n/full-workflows/00-telegram-router.json
{
  "name": "GivSharifi — 00 Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "829d1af1-356a-4d17-87af-770a2cf4dd8a",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8314d1fc-f670-40c3-911e-8230d3140a5a",
              "leftValue": "={{ String($json.message?.chat?.id || $json.callback_query?.message?.chat?.id) }}",
              "rightValue": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a181f070-a678-488e-a33c-68a325052068",
      "name": "Authorized chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.photo ? 'yes' : 'no' }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "instagram.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "youtube.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "youtu.be",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blog",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blog"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ab256a28-d018-41fb-9fc9-b384e997bdf4",
      "name": "Route message type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Prof. Giv Sharifi — Content Bot\n\n📷 Send a photo → gallery\n🎬 Send Instagram reel or YouTube link → videos\n📝 Send /blog then your draft text\n\nImages → GitHub | Videos → Cloudflare R2",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              {
                "text": "📷 Photo help",
                "callback_data": "help_photo"
              }
            ],
            [
              {
                "text": "🎬 Video help",
                "callback_data": "help_video"
              }
            ],
            [
              {
                "text": "📝 Blog help",
                "callback_data": "help_blog"
              }
            ]
          ]
        }
      },
      "id": "4d3950a9-2fda-4a8c-8f1c-c61aa52a7e11",
      "name": "Send menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "eb75ba29-710b-4619-83bc-3c1da84aa369",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "8a5afc1a-9530-448a-9ef0-a16e2661075b",
              "name": "photo_file_id",
              "value": "={{ $json.message.photo.slice(-1)[0].file_id }}",
              "type": "string"
            },
            {
              "id": "56f5b3af-6919-4010-872a-023a90a0bab9",
              "name": "caption",
              "value": "={{ $json.message.caption || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "9bbc9cc8-2e44-4053-9588-bf289a94f720",
      "name": "Prepare photo payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_PHOTO_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "86e0b833-0b87-45a8-97e7-395caeab694c",
      "name": "Run publish photo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "notes": "After import: set GIV_WF_PHOTO_ID to workflow ID of 01-publish-photo"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1bdba328-cee3-487c-9ff5-5052f9f501df",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "dce5c849-c996-432c-829e-8638f8701cc6",
              "name": "video_url",
              "value": "={{ $json.message.text.trim() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "8156c40e-58e8-4663-8868-b13c55deba2e",
      "name": "Prepare video payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_VIDEO_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "b17fd91d-d92b-4318-ac72-f7bd3731c663",
      "name": "Run publish video",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ],
      "notes": "Set GIV_WF_VIDEO_ID after import"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "28b78266-d68c-410d-b4a9-d0bc8d69d6c5",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "ccd70140-ea10-49f5-a108-d91d33536225",
              "name": "draft_text",
              "value": "={{ $json.message.text.replace(/^\\/blog\\s*/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "7c63c753-f822-465e-850a-8acf11f0b8e6",
              "name": "photo_file_id",
              "value": "={{ $json.message.photo ? $json.message.photo.slice(-1)[0].file_id : '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "6fff0214-a62d-4f90-8a18-8a50ff78c260",
      "name": "Prepare blog payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_WF_BLOG_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "6dc4e407-bfae-4488-b317-2779db820b9b",
      "name": "Run publish blog",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        320
      ],
      "notes": "Set GIV_WF_BLOG_ID after import"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Send:\n• Photo (with optional caption)\n• Instagram reel or YouTube link\n• /blog Your article draft…"
      },
      "id": "507f5ff9-e925-4fb7-be3a-e5570f55f792",
      "name": "Send help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "Unauthorized."
      },
      "id": "0989a490-3fee-484a-97d8-b11f47e387c0",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Telegram router\nImport sub-workflows first. Copy their workflow IDs into env vars:\n`GIV_WF_PHOTO_ID`, `GIV_WF_VIDEO_ID`, `GIV_WF_BLOG_ID`\n\nOr replace Execute Workflow nodes with manual workflow picker after import."
      },
      "id": "bd62f719-5fb7-4fed-8154-7721f4f46b73",
      "name": "Note: Router",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Authorized chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized chat?": {
      "main": [
        [
          {
            "node": "Route message type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route message type": {
      "main": [
        [
          {
            "node": "Send menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare photo payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare video payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare blog payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare photo payload": {
      "main": [
        [
          {
            "node": "Run publish photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare video payload": {
      "main": [
        [
          {
            "node": "Run publish video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare blog payload": {
      "main": [
        [
          {
            "node": "Run publish blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92955163-cd28-4bff-baa7-6b6b80c33018",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
