n8n/full-workflows/01-publish-photo.json
{
  "name": "GivSharifi — 01 Publish Photo",
  "nodes": [
    {
      "parameters": {},
      "id": "a0b1f3f7-6901-40a8-a387-931a590f407a",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.photo_file_id }}"
      },
      "id": "2d11d09d-9c5d-406e-bcdb-6947fed05cff",
      "name": "Download Telegram photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "65cdf3a4-3503-4623-9c06-73ef70d21412",
              "name": "incoming_name",
              "value": "={{ 'tg-' + $now.toFormat('yyyyMMdd-HHmmss') + '.jpg' }}",
              "type": "string"
            },
            {
              "id": "0a34432e-90dc-404b-a49b-a052af374f38",
              "name": "chat_id",
              "value": "={{ $('When called by router').item.json.chat_id }}",
              "type": "number"
            },
            {
              "id": "e4fd2286-eca5-4d63-9a20-a82680e921db",
              "name": "caption",
              "value": "={{ $('When called by router').item.json.caption || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "3755c73c-3f3d-4bfc-aa30-2ffc519a9a68",
      "name": "Set incoming filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "12d26fd6-9b78-443d-96e2-3f3f18c7fcf8",
      "name": "Gemini photo model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"prof-giv-sharifi-neurosurgery-clinic\",\n  \"alt\": \"Descriptive alt text for SEO\",\n  \"title\": \"Short gallery title\",\n  \"category\": \"Surgery\",\n  \"featured\": false\n}"
      },
      "id": "7c7a6065-8af2-48d4-b86c-1202b0c91537",
      "name": "Photo metadata parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Caption (may be Persian or English): {{ $json.caption }}\n\nGenerate SEO gallery metadata for Prof. Giv Sharifi neurosurgery website.\ncategory must be one of: Surgery, Team, Clinic, Patient Care, Diagnostics.\nfeatured: true only if exceptional hero/clinic/team shot.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "4000d201-b1d5-4a8e-a7f4-715c39cc5ff7",
      "name": "Gemini photo metadata",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/images/gallery/_incoming/manifest.json",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "42d50034-4725-427d-9113-3eef2f75b066",
      "name": "Get manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const github = $input.first().json;\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nraw = String(raw).trim();\nlet manifest = {};\ntry {\n  manifest = JSON.parse(raw || '{}');\n} catch {\n  manifest = {};\n}\nconst fileName = $('Set incoming filename').first().json.incoming_name;\nconst meta = $('Gemini photo metadata').first().json.output;\nmanifest[fileName] = meta;\nreturn [{ json: { manifest_json: JSON.stringify(manifest, null, 2) + '\\n', manifest_sha: github.sha || '' } }];\n"
      },
      "id": "56531d9e-070e-4625-8f90-0f15fc3074f4",
      "name": "Merge manifest entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const photoItem = $('Download Telegram photo').first();\nconst buffer = await this.helpers.getBinaryDataBuffer(photoItem, 'data');\n\nreturn [{\n  json: {\n    manifest_json: $input.first().json.manifest_json,\n    photo_base64: buffer.toString('base64'),\n  },\n}];\n"
      },
      "id": "b2278922-1ad9-4a92-8685-ec6ffc0a3722",
      "name": "Prepare photo base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1210,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'assets/images/gallery/_incoming/' + $('Set incoming filename').item.json.incoming_name }}",
        "fileContent": "={{ $json.photo_base64 }}",
        "commitMessage": "content: add gallery photo via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "71759e1a-71e5-4a26-81b0-559ad985d8df",
      "name": "Upload photo to _incoming",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/images/gallery/_incoming/manifest.json",
        "fileContent": "={{ $('Merge manifest entry').item.json.manifest_json }}",
        "commitMessage": "content: update gallery manifest via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}",
        "additionalParameters": {
          "sha": "={{ $('Merge manifest entry').item.json.manifest_sha }}"
        }
      },
      "id": "660f3245-01a4-467d-bdfa-4128b32cab07",
      "name": "Update manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GIV_GITHUB_OWNER }}/{{ $env.GIV_GITHUB_REPO }}/dispatches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"process-gallery\",\"client_payload\":{\"source\":\"n8n\"}}"
      },
      "id": "06efceeb-2354-4221-86c4-27049bb6165f",
      "name": "Dispatch process-gallery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "notes": "Requires GitHub credential. Triggers GitHub Actions to run scripts/process-gallery.py"
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Photo queued for processing.\n\nTitle: {{ $('Gemini photo metadata').item.json.output.title }}\nSlug: {{ $('Gemini photo metadata').item.json.output.slug }}\n\nGallery will update in ~2 min: {{ $env.GIV_SITE_URL }}/gallery/"
      },
      "id": "70185b19-7587-4213-be9a-77272e751065",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Photo publish\nTelegram photo → Gemini (alt/slug) → GitHub `_incoming/` + manifest → `repository_dispatch` → `process-gallery.py` → WebP + gallery.json → GitHub Pages deploy."
      },
      "id": "bb4efc5a-39bf-4ec6-b7bb-aa8a8a5fc988",
      "name": "Note: Photo flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Download Telegram photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram photo": {
      "main": [
        [
          {
            "node": "Set incoming filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set incoming filename": {
      "main": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Photo metadata parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo metadata": {
      "main": [
        [
          {
            "node": "Get manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manifest.json": {
      "main": [
        [
          {
            "node": "Merge manifest entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge manifest entry": {
      "main": [
        [
          {
            "node": "Prepare photo base64",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare photo base64": {
      "main": [
        [
          {
            "node": "Upload photo to _incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo to _incoming": {
      "main": [
        [
          {
            "node": "Dispatch process-gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update manifest.json": {
      "main": [
        [
          {
            "node": "Dispatch process-gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch process-gallery": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "633d18f9-e682-424a-8bdd-0b20cbdcd1bb",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
