n8n/full-workflows/01-publish-photo.json
{
  "name": "GivSharifi — 01 Publish Photo",
  "nodes": [
    {
      "parameters": {},
      "id": "d38413b8-242b-49e9-b448-3a327b1ce488",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.photo_file_id }}"
      },
      "id": "97b8d7cd-78e5-4bba-a69f-3e699630b20d",
      "name": "Download Telegram photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "7cc090e5-f8c7-448f-aa5f-4dd99ea67836",
              "name": "incoming_name",
              "value": "={{ 'tg-' + $now.toFormat('yyyyMMdd-HHmmss') + '.jpg' }}",
              "type": "string"
            },
            {
              "id": "3905f7cd-6330-474e-aea7-f600d4ea3dc3",
              "name": "chat_id",
              "value": "={{ $('When called by router').item.json.chat_id }}",
              "type": "number"
            },
            {
              "id": "4a871ec3-7ff3-486b-aa1e-8cf386da9e70",
              "name": "caption",
              "value": "={{ $('When called by router').item.json.caption || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "3c03eefb-39bf-4f61-be4d-f0a8a8894d1b",
      "name": "Set incoming filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "d3ee48fc-7f3c-474b-a259-fca409520003",
      "name": "Gemini photo model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"prof-giv-sharifi-neurosurgery-clinic\",\n  \"alt\": \"Descriptive alt text for SEO\",\n  \"title\": \"Short gallery title\",\n  \"category\": \"Surgery\",\n  \"featured\": false\n}"
      },
      "id": "c854b233-0d1e-45bb-8b0e-417ec517e7fd",
      "name": "Photo metadata parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Caption (may be Persian or English): {{ $json.caption }}\n\nGenerate SEO gallery metadata for Prof. Giv Sharifi neurosurgery website.\ncategory must be one of: Surgery, Team, Clinic, Patient Care, Diagnostics.\nfeatured: true only if exceptional hero/clinic/team shot.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "a456167a-9fff-4825-b104-d07c992fcad4",
      "name": "Gemini photo metadata",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/images/gallery/_incoming/manifest.json",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "a54b27a6-f59b-4b87-a127-010850cd6dc4",
      "name": "Get manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const github = $input.first().json;\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nraw = String(raw).trim();\nlet manifest = {};\ntry {\n  manifest = JSON.parse(raw || '{}');\n} catch {\n  manifest = {};\n}\nconst fileName = $('Set incoming filename').first().json.incoming_name;\nconst meta = $('Gemini photo metadata').first().json.output;\nmanifest[fileName] = meta;\nreturn [{ json: { manifest_json: JSON.stringify(manifest, null, 2) + '\\n' } }];\n"
      },
      "id": "1481de09-1ee5-4b51-9ae8-8bb584eaac15",
      "name": "Merge manifest entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'assets/images/gallery/_incoming/' + $('Set incoming filename').item.json.incoming_name }}",
        "fileContent": "={{ $('Download Telegram photo').item.binary.data }}",
        "commitMessage": "content: add gallery photo via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "7a683de4-623f-4d1c-9424-54408de6cb4d",
      "name": "Upload photo to _incoming",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/images/gallery/_incoming/manifest.json",
        "fileContent": "={{ $('Merge manifest entry').item.json.manifest_json }}",
        "commitMessage": "content: update gallery manifest via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "c821dd46-934d-4d98-8d52-ea16f3f95b82",
      "name": "Update manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $env.GIV_GITHUB_OWNER }}/{{ $env.GIV_GITHUB_REPO }}/dispatches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"process-gallery\",\"client_payload\":{\"source\":\"n8n\"}}"
      },
      "id": "232727d5-2ceb-466b-8528-f43df53ef2ff",
      "name": "Dispatch process-gallery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "notes": "Requires GitHub credential. Triggers GitHub Actions to run scripts/process-gallery.py"
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Photo queued for processing.\n\nTitle: {{ $('Gemini photo metadata').item.json.output.title }}\nSlug: {{ $('Gemini photo metadata').item.json.output.slug }}\n\nGallery will update in ~2 min: {{ $env.GIV_SITE_URL }}/gallery/"
      },
      "id": "a0fdfb97-5056-4535-8fe8-395d3d7ad1c5",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Photo publish\nTelegram photo → Gemini (alt/slug) → GitHub `_incoming/` + manifest → `repository_dispatch` → `process-gallery.py` → WebP + gallery.json → GitHub Pages deploy."
      },
      "id": "557b06ff-31d3-4c81-b375-636d7faba101",
      "name": "Note: Photo flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Download Telegram photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram photo": {
      "main": [
        [
          {
            "node": "Set incoming filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set incoming filename": {
      "main": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Photo metadata parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo metadata": {
      "main": [
        [
          {
            "node": "Get manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manifest.json": {
      "main": [
        [
          {
            "node": "Merge manifest entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge manifest entry": {
      "main": [
        [
          {
            "node": "Upload photo to _incoming",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo to _incoming": {
      "main": [
        [
          {
            "node": "Dispatch process-gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update manifest.json": {
      "main": [
        [
          {
            "node": "Dispatch process-gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch process-gallery": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44d8c286-d804-4cbc-8398-6fcf7bb576f7",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
