n8n/full-workflows/01-publish-photo.json
{
  "name": "GivSharifi — 01 Publish Photo",
  "nodes": [
    {
      "parameters": {},
      "id": "f84a3b2a-4cec-40d0-92e9-fc2119ddbab4",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.photo_file_id }}"
      },
      "id": "70b41216-52cd-4620-beeb-ab1ebea19ca1",
      "name": "Download Telegram photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data",
        "destinationKey": "photo_base64",
        "options": {}
      },
      "id": "a219c6d9-7969-4db5-8041-1f1228962a21",
      "name": "Extract photo base64",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        330,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "38658768-3e30-4654-a951-f4538a8384ed",
              "name": "incoming_name",
              "value": "={{ 'tg-' + $now.toFormat('yyyyMMdd-HHmmss') + '.jpg' }}",
              "type": "string"
            },
            {
              "id": "59b98cc1-6d8d-46d3-9876-c30d2d097f20",
              "name": "chat_id",
              "value": "={{ $('When called by router').item.json.chat_id }}",
              "type": "number"
            },
            {
              "id": "8e904a65-28a1-42e2-80fb-b0a5f6540f6b",
              "name": "caption",
              "value": "={{ $('When called by router').item.json.caption || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "c715e5c6-e481-44ae-991b-68da2ca15e53",
      "name": "Set incoming filename",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "e82b5434-5a6f-49b3-a276-0b9ccca4a66a",
      "name": "Gemini photo model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"prof-giv-sharifi-neurosurgery-clinic\",\n  \"alt\": \"Descriptive alt text for SEO\",\n  \"title\": \"Short gallery title\",\n  \"category\": \"Surgery\",\n  \"featured\": false\n}"
      },
      "id": "6ccd117f-3173-46b3-a8e4-a4eba790297a",
      "name": "Photo metadata parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Caption (may be Persian or English): {{ $json.caption }}\n\nGenerate SEO gallery metadata for Prof. Giv Sharifi neurosurgery website.\ncategory must be one of: Surgery, Team, Clinic, Patient Care, Diagnostics.\nfeatured: true only if exceptional hero/clinic/team shot.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "ecfe2ab3-f2f7-4d40-b531-1677ab7b9cd4",
      "name": "Gemini photo metadata",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "assets/images/gallery/_incoming/manifest.json"
      },
      "id": "fcc9876d-ebb9-454c-8b20-43405fca2ae4",
      "name": "Get manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get manifest.json').first().json;\nconst github = ghItem.body ?? ghItem;\nif (github.message && !github.content) {\n  throw new Error(`GitHub API: ${github.message}`);\n}\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n} else if (raw && !String(raw).trim().startsWith('{')) {\n  try {\n    raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n  } catch {\n    /* keep raw */\n  }\n}\nraw = String(raw).trim();\nif (!raw) {\n  throw new Error(\n    `GitHub file content empty — assign GitHub API credential on the Get node. Fields: ${Object.keys(github).join(', ')}`\n  );\n}\nlet manifest = {};\ntry {\n  manifest = JSON.parse(raw || '{}');\n} catch {\n  manifest = {};\n}\nconst fileName = $('Set incoming filename').first().json.incoming_name;\nconst meta = $('Gemini photo metadata').first().json.output;\nmanifest[fileName] = meta;\nreturn [{ json: { manifest_json: JSON.stringify(manifest, null, 2) + '\\n', manifest_sha: github.sha || '' } }];\n"
      },
      "id": "514a4746-b317-40ad-a5e3-ed20a471d61d",
      "name": "Merge manifest entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'assets/images/gallery/_incoming/' + $('Set incoming filename').item.json.incoming_name }}",
        "fileContent": "={{ $('Extract photo base64').item.json.photo_base64 }}",
        "commitMessage": "content: add gallery photo via Telegram bot"
      },
      "id": "b7e65d44-eec5-47bd-bf36-35ce4b8403e1",
      "name": "Upload photo to _incoming",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "assets/images/gallery/_incoming/manifest.json",
        "fileContent": "={{ $('Merge manifest entry').item.json.manifest_json }}",
        "commitMessage": "content: update gallery manifest via Telegram bot",
        "additionalParameters": {
          "sha": "={{ $('Merge manifest entry').item.json.manifest_sha }}"
        }
      },
      "id": "47ede2ad-f63e-4d58-8499-021facce9ba2",
      "name": "Update manifest.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/alecasgari/givsharifi-website/dispatches",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'process-gallery', client_payload: { source: 'n8n', filename: $('Set incoming filename').item.json.incoming_name } } }}"
      },
      "id": "adbe9eb1-9f10-4cb7-a47f-e90f4ce79d9b",
      "name": "Dispatch process-gallery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "notes": "Requires GitHub credential. Triggers GitHub Actions to run scripts/process-gallery.py"
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Photo queued for processing.\n\nTitle: {{ $('Gemini photo metadata').item.json.output.title }}\nSlug: {{ $('Gemini photo metadata').item.json.output.slug }}\n\nGallery will update in ~2 min: {{ $env.GIV_SITE_URL }}/gallery/"
      },
      "id": "27dfc8e2-3cb1-4c14-ae63-2196a23265ec",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Photo publish\nTelegram photo → Gemini (alt/slug) → GitHub photo then manifest (sequential) → single `repository_dispatch` → `process-gallery.py` → WebP + gallery.json → GitHub Pages deploy."
      },
      "id": "19d9123c-620e-4264-bd75-b5e2aa3e40ac",
      "name": "Note: Photo flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Download Telegram photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Telegram photo": {
      "main": [
        [
          {
            "node": "Extract photo base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract photo base64": {
      "main": [
        [
          {
            "node": "Set incoming filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set incoming filename": {
      "main": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Photo metadata parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini photo metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini photo metadata": {
      "main": [
        [
          {
            "node": "Get manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get manifest.json": {
      "main": [
        [
          {
            "node": "Merge manifest entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge manifest entry": {
      "main": [
        [
          {
            "node": "Upload photo to _incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload photo to _incoming": {
      "main": [
        [
          {
            "node": "Update manifest.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update manifest.json": {
      "main": [
        [
          {
            "node": "Dispatch process-gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch process-gallery": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "903490f0-aab0-4e68-821b-0bea239c8c53",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
