n8n/full-workflows/02-publish-video.json
{
  "name": "GivSharifi — 02 Publish Video",
  "nodes": [
    {
      "parameters": {},
      "id": "c56e8102-cc91-498b-8383-40257815a6ed",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "fc81de00-ed06-457e-9e67-abb6fb5fad77",
              "name": "video_url",
              "value": "={{ $json.video_url }}",
              "type": "string"
            },
            {
              "id": "db9c9923-8db5-49d4-b906-941b5044f056",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        }
      },
      "id": "2cbb0b7a-c068-4662-9fce-3da1fba3c711",
      "name": "Set video context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://giv-ytdlp:9876/download",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.video_url, work_id: String($execution.id), upload_r2: true } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "360717be-d76b-4af5-a022-5e3604d288ba",
      "name": "Download via yt-dlp service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "notes": "Docker app giv-ytdlp on giv-ytdlp-net (internal only). No token — see apps/giv-ytdlp README."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body ?? item;\nconst data = typeof body === 'string' ? JSON.parse(body) : body;\nif (!data.ok) {\n  throw new Error(data.error || 'yt-dlp service failed');\n}\nif (!data.r2?.mp4_key) {\n  throw new Error('R2 upload missing from giv-ytdlp response');\n}\nreturn [{\n  json: {\n    video_id: data.video_id,\n    source: data.source,\n    video_meta: data.video_meta,\n    r2: data.r2,\n  },\n}];\n"
      },
      "id": "a1624597-0517-4964-a46b-94e1f7fe3c86",
      "name": "Parse download response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "2280a3b0-f06f-470e-8256-ffdbcec7c7e4",
      "name": "Gemini video model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"English video title max 80 chars\",\n  \"description\": \"English description max 160 chars\",\n  \"category\": \"Patient Stories\"\n}"
      },
      "id": "de20ec47-edbc-4b2a-8274-7a1a670895cd",
      "name": "Video copy parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Source platform: {{ $json.source }}\nOriginal URL: {{ $('Set video context').item.json.video_url }}\nOriginal title: {{ $json.video_meta.title || '' }}\nOriginal description:\n{{ $json.video_meta.description || $json.video_meta.title || '' }}\n\nWrite English title and description for a neurosurgery patient-education video page on Prof. Giv Sharifi's website. No Persian. Professional SEO tone. category must be one of: Patient Stories, Surgery, Education, Clinic.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "a50fd818-221d-4b77-b625-27b6ed8c379f",
      "name": "Gemini video copy",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/alecasgari/givsharifi-website/contents/assets/data/video-library.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "f2985fb8-9d4c-4fc2-a409-42f9d0d9189b",
      "name": "Get video-library.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "notes": "GitHub Contents API — returns base64 content + sha for edit."
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get video-library.json').first().json;\nconst github = ghItem.body ?? ghItem;\nif (github.message && !github.content) {\n  throw new Error(`GitHub API: ${github.message}`);\n}\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n} else if (raw && !String(raw).trim().startsWith('{')) {\n  try {\n    raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n  } catch {\n    /* keep raw */\n  }\n}\nraw = String(raw).trim();\nif (!raw) {\n  throw new Error(\n    `GitHub file content empty — assign GitHub API credential on the Get node. Fields: ${Object.keys(github).join(', ')}`\n  );\n}\nlet lib;\ntry {\n  lib = JSON.parse(raw);\n} catch (e) {\n  throw new Error(`video-library.json is not valid JSON: ${e.message}`);\n}\nconst parsed = $('Parse download response').first().json;\nconst id = parsed.video_id;\nconst meta = $('Gemini video copy').first().json.output;\nconst m = parsed.video_meta;\nconst d = m.upload_date || '';\nconst date = d.length === 8\n  ? `${d.slice(0, 4)}-${d.slice(4, 6)}-${d.slice(6, 8)}`\n  : new Date().toISOString().slice(0, 10);\nconst sourceUrl = m.webpage_url || $('Set video context').first().json.video_url;\nconst entry = {\n  id,\n  file: `${id}.mp4`,\n  poster: `${id}.jpg`,\n  title: meta.title,\n  description: meta.description,\n  date,\n  duration: m.duration_string || '',\n  category: meta.category || 'Patient Stories',\n};\nif (sourceUrl.includes('instagram.com')) entry.instagram = sourceUrl;\nelse if (sourceUrl.includes('youtube.com') || sourceUrl.includes('youtu.be')) entry.youtube = sourceUrl;\nif (!Array.isArray(lib.videos)) lib.videos = [];\nlib.videos = [entry, ...lib.videos];\nlib.updated = new Date().toISOString().slice(0, 10);\nreturn [{ json: { library_json: JSON.stringify(lib, null, 2) + '\\n', library_sha: github.sha || '' } }];\n"
      },
      "id": "7d5fc028-776b-4f80-a411-c97ac050cd45",
      "name": "Prepend new video entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "assets/data/video-library.json",
        "fileContent": "={{ $json.library_json }}",
        "commitMessage": "content: add video via Telegram bot",
        "additionalParameters": {
          "sha": "={{ $json.library_sha }}"
        }
      },
      "id": "f1290e51-b369-480f-b2d9-f9e79b11267e",
      "name": "Update video-library.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Video published.\\n\\n{{ $('Gemini video copy').item.json.output.title }}\\n\\nhttps://www.givsharifi.com/videos/"
      },
      "id": "21837edd-1d85-4eaa-ba6d-bcc886623f8b",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Video publish (Instagram + YouTube)\nHTTP → `giv-ytdlp` Docker app (download + R2 upload) → Gemini → GitHub.\n\nService: `http://giv-ytdlp:9876` | Bucket: `givsharifi-videos` | Site: https://www.givsharifi.com\nn8n env: not required (service is internal Docker network only)."
      },
      "id": "2bfc691b-fc14-49a6-bcda-fad28c10d9f6",
      "name": "Note: Video flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Set video context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set video context": {
      "main": [
        [
          {
            "node": "Download via yt-dlp service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download via yt-dlp service": {
      "main": [
        [
          {
            "node": "Parse download response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse download response": {
      "main": [
        [
          {
            "node": "Gemini video copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini video model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini video copy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video copy parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini video copy",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini video copy": {
      "main": [
        [
          {
            "node": "Get video-library.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video-library.json": {
      "main": [
        [
          {
            "node": "Prepend new video entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend new video entry": {
      "main": [
        [
          {
            "node": "Update video-library.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update video-library.json": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6a95663-0709-4f1b-99e6-eb224d3bd43c",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
