n8n/full-workflows/02-publish-video.json
{
  "name": "GivSharifi — 02 Publish Video",
  "nodes": [
    {
      "parameters": {},
      "id": "0f71139c-ca92-4ecb-9df1-0655238e32a9",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "0d560bed-b21e-47ef-ba97-598393df7bf6",
              "name": "reel_url",
              "value": "={{ $json.reel_url }}",
              "type": "string"
            },
            {
              "id": "d5c18afc-c543-4080-b6d3-df655871fbff",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "e3f87983-f527-4198-8a40-c5f2fdd21834",
              "name": "work_dir",
              "value": "=/tmp/giv-video-{{ $execution.id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "42e36934-0a0b-4ee7-8f9d-9595799ed7a2",
      "name": "Set reel URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.work_dir }} && yt-dlp --no-playlist -f 'mp4/best' -o '{{ $json.work_dir }}/%(id)s.%(ext)s' --write-info-json --write-thumbnail --convert-thumbnails jpg '{{ $json.reel_url }}'"
      },
      "id": "b10e22b4-0f27-4566-858d-2421021eafc4",
      "name": "yt-dlp download",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "notes": "Self-hosted n8n only. Installs: pip install yt-dlp"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.work_dir + '/*.info.json' }}",
        "options": {}
      },
      "id": "449e5592-3a99-47d8-8101-8844f822b499",
      "name": "Read info JSON",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst payload = item.data ?? item.json ?? item.content;\nconst reel = typeof payload === 'string' ? JSON.parse(payload) : payload;\nreturn [{ json: { reel_meta: reel, video_id: reel.id } }];\n"
      },
      "id": "a05b14ae-6fd6-4d87-8eb0-88931edefb53",
      "name": "Parse reel metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "9a77cdfe-2627-44c3-9f9e-68ae17e35d00",
      "name": "Gemini video model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"English video title max 80 chars\",\n  \"description\": \"English description max 160 chars\",\n  \"category\": \"Patient Stories\"\n}"
      },
      "id": "950719f4-334e-4d34-b724-b6b703a0e188",
      "name": "Video copy parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Instagram description:\n{{ $json.reel_meta.description || $json.reel_meta.title }}\n\nWrite English title and description for a neurosurgery patient-education video page. No Persian. Professional tone. category: Patient Stories.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "d3086caa-8686-4a2e-9f36-c0dedb062fbe",
      "name": "Gemini video copy",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.GIV_R2_BUCKET }}",
        "fileName": "=library/{{ $('Parse reel metadata').item.json.video_id }}.mp4",
        "additionalFields": {},
        "binaryPropertyName": "data"
      },
      "id": "b44ee50e-3948-46c6-9f6b-95153391e7fa",
      "name": "Upload MP4 to R2",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1320,
        -80
      ],
      "notes": "AWS credential → R2 endpoint. Read MP4 via Read/Write File node before this if needed."
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.GIV_R2_BUCKET }}",
        "fileName": "=library/{{ $('Parse reel metadata').item.json.video_id }}.jpg",
        "additionalFields": {}
      },
      "id": "12418677-02cf-450f-a8bf-f42c3a9c9ac9",
      "name": "Upload poster to R2",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/data/video-library.json",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "bbad0efa-6a16-4d60-b35c-5d9bb1f13c30",
      "name": "Get video-library.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const github = $input.first().json;\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nraw = String(raw).trim();\nconst lib = JSON.parse(raw);\nconst id = $('Parse reel metadata').first().json.video_id;\nconst meta = $('Gemini video copy').first().json.output;\nconst m = $('Parse reel metadata').first().json.reel_meta;\nconst d = m.upload_date || '';\nconst date = d.length === 8\n  ? `${d.slice(0, 4)}-${d.slice(4, 6)}-${d.slice(6, 8)}`\n  : new Date().toISOString().slice(0, 10);\nconst entry = {\n  id,\n  file: `${id}.mp4`,\n  poster: `${id}.jpg`,\n  title: meta.title,\n  description: meta.description,\n  date,\n  duration: m.duration_string || '',\n  instagram: m.webpage_url || $('Set reel URL').first().json.reel_url,\n  category: meta.category || 'Patient Stories',\n};\nlib.videos = [entry, ...(lib.videos || [])];\nlib.updated = new Date().toISOString().slice(0, 10);\nreturn [{ json: { library_json: JSON.stringify(lib, null, 2) + '\\n' } }];\n"
      },
      "id": "8fcb61f3-2ce0-4d9d-8398-b065277e4531",
      "name": "Prepend new video entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "assets/data/video-library.json",
        "fileContent": "={{ $json.library_json }}",
        "commitMessage": "content: add video via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "6cd60e47-e900-44df-9729-2f742182b82a",
      "name": "Update video-library.json",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Video published.\n\n{{ $('Gemini video copy').item.json.output.title }}\n\n{{ $env.GIV_SITE_URL }}/videos/"
      },
      "id": "95e14023-8dcb-41e4-bde1-e2bebc5e3916",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Video publish\nInstagram URL → yt-dlp → Gemini English copy → R2 `library/` (S3 node) → `video-library.json` on GitHub.\n\nAdd **Read/Write File** nodes for MP4/JPG binaries before S3 uploads if Execute Command output needs wiring."
      },
      "id": "df5d8e2a-c471-4071-8dc0-28071dd4ce8e",
      "name": "Note: Video flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Set reel URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set reel URL": {
      "main": [
        [
          {
            "node": "yt-dlp download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yt-dlp download": {
      "main": [
        [
          {
            "node": "Read info JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read info JSON": {
      "main": [
        [
          {
            "node": "Parse reel metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse reel metadata": {
      "main": [
        [
          {
            "node": "Gemini video copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini video model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini video copy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Video copy parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini video copy",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini video copy": {
      "main": [
        [
          {
            "node": "Get video-library.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload MP4 to R2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload poster to R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video-library.json": {
      "main": [
        [
          {
            "node": "Prepend new video entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend new video entry": {
      "main": [
        [
          {
            "node": "Update video-library.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update video-library.json": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cb0cb1f-cb6e-4c52-8e95-65c49216c593",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
