n8n/full-workflows/03-publish-blog.json
{
  "name": "GivSharifi — 03 Publish Blog",
  "nodes": [
    {
      "parameters": {},
      "id": "8c940302-40bf-4fba-8a34-3056c3507dc2",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c473f486-a4bb-4bde-9c00-d80f8c0a2343",
              "leftValue": "={{ $json.photo_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d19b935c-4d12-4a35-b6fc-5db79bc2a665",
      "name": "Has featured image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('When called by router').item.json.photo_file_id }}"
      },
      "id": "c46b4f61-2086-4b41-a20d-b1313ff6f7b4",
      "name": "Download featured image",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "1adfbfe5-6176-4cb8-9ac7-75dad3b0cb1a",
      "name": "Gemini blog model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"example-blog-slug\",\n  \"title\": \"Article title\",\n  \"metaDescription\": \"SEO meta description max 155 chars\",\n  \"excerpt\": \"Card excerpt 2 sentences\",\n  \"date\": \"2026-06-27\",\n  \"category\": \"Neurosurgery\",\n  \"tags\": [\n    \"brain surgery\",\n    \"neurosurgery Dubai\"\n  ],\n  \"readingTimeMinutes\": 6,\n  \"featuredImagePath\": \"assets/images/blog/example.webp\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Opening paragraph.\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"Section heading\"\n    },\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Body text.\"\n    }\n  ]\n}"
      },
      "id": "ae501de2-68fe-477d-8fb2-335fe2e717d4",
      "name": "Blog JSON parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft (may be Persian or English):\n{{ $('When called by router').item.json.draft_text }}\n\nCreate a full blog post JSON for Prof. Giv Sharifi's neurosurgery website.\n- All text in professional English\n- slug: lowercase hyphenated, max 60 chars\n- content: 6-10 blocks (paragraph, heading level 2, optional list)\n- tags: 5-8 SEO keywords\n- date: today ISO\n- featuredImagePath: assets/images/blog/{slug}.webp (use slug in path)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "f0418f10-5db5-47a8-9d96-3e867b3ff031",
      "name": "Gemini blog writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "blog/_post-shell.html",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "68a7cbe7-8654-45ca-bdcb-cdbe077d5795",
      "name": "Get post HTML shell",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gemini blog writer').first().json.output;\nconst post = {\n  ...p,\n  author: {\n    name: 'Prof. Giv Sharifi',\n    title: 'Board-Certified Neurosurgeon',\n    url: 'https://www.givsharifi.com/',\n  },\n  featuredImage: `/${p.featuredImagePath}`,\n};\nreturn [{ json: { post_json: JSON.stringify(post, null, 2) + '\\n' } }];\n"
      },
      "id": "8a617576-66d1-4c74-9444-3a0716655ba4",
      "name": "Build post JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'posts/data/' + $('Gemini blog writer').item.json.output.slug + '.json' }}",
        "fileContent": "={{ $('Build post JSON').item.json.post_json }}",
        "commitMessage": "content: add blog post via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "9f6579c5-47a8-418f-b72e-810b20a0f5db",
      "name": "Create post JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'blog/' + $('Gemini blog writer').item.json.output.slug + '/index.html' }}",
        "fileContent": "={{ $('Get post HTML shell').item.json.content }}",
        "commitMessage": "content: add blog page shell via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "fac6dd79-ea4c-406e-bd9e-24576c9747f0",
      "name": "Create blog HTML page",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "posts/data/index.json",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "2e861c00-d5e1-4703-90f4-f831cb56901d",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const github = $input.first().json;\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nraw = String(raw).trim();\nconst idx = JSON.parse(raw);\nconst p = $('Gemini blog writer').first().json.output;\nidx.posts = [{\n  slug: p.slug,\n  title: p.title,\n  excerpt: p.excerpt,\n  date: p.date,\n  category: p.category,\n  image: `/${p.featuredImagePath}`,\n}, ...(idx.posts || [])];\nreturn [{ json: { index_json: JSON.stringify(idx, null, 2) + '\\n' } }];\n"
      },
      "id": "10a8db21-ee66-40bf-b396-ed5651f8c18f",
      "name": "Prepend to index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "posts/data/index.json",
        "fileContent": "={{ $json.index_json }}",
        "commitMessage": "content: update blog index via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "04cab266-0e78-4525-a7a8-070439995e79",
      "name": "Update posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Blog post published.\n\n{{ $('Gemini blog writer').item.json.output.title }}\n\n{{ $env.GIV_SITE_URL }}/blog/{{ $('Gemini blog writer').item.json.output.slug }}/"
      },
      "id": "7f9ce9e0-c746-4aac-9937-7478e58ab151",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Blog publish\nDraft text → Gemini (full JSON) → GitHub post JSON + HTML shell + index.json.\n\nOptional: upload featured WebP to `assets/images/blog/` via GitHub node on the **true** branch of If."
      },
      "id": "6131ac34-f0c6-4792-a4e8-7106d06907ab",
      "name": "Note: Blog flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Has featured image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has featured image?": {
      "main": [
        [
          {
            "node": "Download featured image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download featured image": {
      "main": [
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog JSON parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog writer": {
      "main": [
        [
          {
            "node": "Get post HTML shell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post HTML shell": {
      "main": [
        [
          {
            "node": "Build post JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create blog HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post JSON": {
      "main": [
        [
          {
            "node": "Create post JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post JSON": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blog HTML page": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Prepend to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend to index": {
      "main": [
        [
          {
            "node": "Update posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update posts index": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5dced181-83cb-49cf-835b-fb2eb3570073",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
