n8n/full-workflows/03-publish-blog.json
{
  "name": "GivSharifi — 03 Publish Blog",
  "nodes": [
    {
      "parameters": {},
      "id": "5d24ff83-d26e-4ba3-81fb-e6c0d51f52f1",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "058f2248-84b6-4a27-8f65-0702d668ca1e",
              "leftValue": "={{ $json.photo_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "5b64fcf3-dcc3-4830-afb2-842a4c0436f1",
      "name": "Has featured image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('When called by router').item.json.photo_file_id }}"
      },
      "id": "84990e7b-ac93-4355-99ab-c043386f5f51",
      "name": "Download featured image",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "0102b9ae-c8c2-411c-b1e7-5cfff9551815",
      "name": "Gemini blog model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"example-blog-slug\",\n  \"title\": \"Article title\",\n  \"metaDescription\": \"SEO meta description max 155 chars\",\n  \"excerpt\": \"Card excerpt 2 sentences\",\n  \"date\": \"2026-06-27\",\n  \"category\": \"Neurosurgery\",\n  \"tags\": [\n    \"brain surgery\",\n    \"neurosurgery Dubai\"\n  ],\n  \"readingTimeMinutes\": 6,\n  \"featuredImagePath\": \"assets/images/blog/example.webp\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Opening paragraph.\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"Section heading\"\n    },\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Body text.\"\n    }\n  ]\n}"
      },
      "id": "7aded0f8-f2be-42ea-80d0-8e9f8cb59778",
      "name": "Blog JSON parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft (may be Persian or English):\n{{ $('When called by router').item.json.draft_text }}\n\nCreate a full blog post JSON for Prof. Giv Sharifi's neurosurgery website.\n- All text in professional English\n- slug: lowercase hyphenated, max 60 chars\n- content: 6-10 blocks (paragraph, heading level 2, optional list)\n- tags: 5-8 SEO keywords\n- date: today ISO\n- featuredImagePath: assets/images/blog/{slug}.webp (use slug in path)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "9c09dc14-9315-4a0a-8913-3a97bae88034",
      "name": "Gemini blog writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "blog/_post-shell.html",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "8f5860f0-28e8-429e-98b2-002e9d50c49c",
      "name": "Get post HTML shell",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'posts/data/' + $('Gemini blog writer').item.json.output.slug + '.json' }}",
        "fileContent": "={{ JSON.stringify(Object.assign($('Gemini blog writer').item.json.output, { author: { name: 'Prof. Giv Sharifi', title: 'Board-Certified Neurosurgeon', url: 'https://www.givsharifi.com/' }, featuredImage: '/' + $('Gemini blog writer').item.json.output.featuredImagePath }), null, 2) }}",
        "commitMessage": "content: add blog post via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "a7d2da9b-2378-4f4f-8736-d015c2c3e384",
      "name": "Create post JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "={{ 'blog/' + $('Gemini blog writer').item.json.output.slug + '/index.html' }}",
        "fileContent": "={{ $('Get post HTML shell').item.json.content }}",
        "commitMessage": "content: add blog page shell via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "c37bb228-1cee-4d58-91b6-29acd2a251b5",
      "name": "Create blog HTML page",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "posts/data/index.json",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "4bad328e-66d8-4d96-a0c2-184f1ba5b7e0",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "2321f2fc-20ed-4357-9816-1dacc92c7ef5",
              "name": "index_json",
              "value": "={{ (() => { const idx = JSON.parse($json.content); const p = $('Gemini blog writer').item.json.output; idx.posts = [{ slug: p.slug, title: p.title, excerpt: p.excerpt, date: p.date, category: p.category, image: '/' + p.featuredImagePath }, ...(idx.posts||[])]; return JSON.stringify(idx, null, 2); })() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "836abe72-9003-42f5-90cd-12e5e8091db2",
      "name": "Prepend to index",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $env.GIV_GITHUB_OWNER }}",
        "repository": "={{ $env.GIV_GITHUB_REPO }}",
        "filePath": "posts/data/index.json",
        "fileContent": "={{ $json.index_json }}",
        "commitMessage": "content: update blog index via Telegram bot",
        "branch": "={{ $env.GIV_GITHUB_BRANCH || 'main' }}"
      },
      "id": "1f779d4c-752b-4bc6-ab8e-319366b43af6",
      "name": "Update posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Blog post published.\n\n{{ $('Gemini blog writer').item.json.output.title }}\n\n{{ $env.GIV_SITE_URL }}/blog/{{ $('Gemini blog writer').item.json.output.slug }}/"
      },
      "id": "5fdaad09-b33c-4ccc-83bb-751a88ffbe65",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Blog publish\nDraft text → Gemini (full JSON) → GitHub post JSON + HTML shell + index.json.\n\nOptional: upload featured WebP to `assets/images/blog/` via GitHub node on the **true** branch of If."
      },
      "id": "e165ab3b-9232-4306-8c3e-d6ea15906a2f",
      "name": "Note: Blog flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Has featured image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has featured image?": {
      "main": [
        [
          {
            "node": "Download featured image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download featured image": {
      "main": [
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog JSON parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog writer": {
      "main": [
        [
          {
            "node": "Get post HTML shell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post HTML shell": {
      "main": [
        [
          {
            "node": "Create post JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create blog HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post JSON": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blog HTML page": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Prepend to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend to index": {
      "main": [
        [
          {
            "node": "Update posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update posts index": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fee4b36-76bb-4fe5-bc0a-3b641030d952",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
