n8n/full-workflows/03-publish-blog.json
{
  "name": "GivSharifi — 03 Publish Blog",
  "nodes": [
    {
      "parameters": {},
      "id": "63b88bac-18c2-400b-8a89-9377ce1d0585",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3619114-eb54-4c71-b38d-0811ac7f1b8f",
              "leftValue": "={{ $json.photo_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1d3b1e6-1d5a-4a69-90b9-be0fb20fc8e9",
      "name": "Has featured image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('When called by router').item.json.photo_file_id }}"
      },
      "id": "d304280d-18bc-460e-a972-a63eadcc4e08",
      "name": "Download featured image",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "f67725fe-31f0-4fc3-bc41-7eafd2a3eeef",
      "name": "Gemini blog model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"example-blog-slug\",\n  \"title\": \"Article title\",\n  \"metaDescription\": \"SEO meta description max 155 chars\",\n  \"excerpt\": \"Card excerpt 2 sentences\",\n  \"date\": \"2026-06-27\",\n  \"category\": \"Neurosurgery\",\n  \"tags\": [\n    \"brain surgery\",\n    \"neurosurgery Dubai\"\n  ],\n  \"readingTimeMinutes\": 6,\n  \"featuredImagePath\": \"assets/images/blog/example.webp\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Opening paragraph.\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"Section heading\"\n    },\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Body text.\"\n    }\n  ]\n}"
      },
      "id": "8c4ab2ae-c7de-4883-882e-cec8995ececd",
      "name": "Blog JSON parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft (may be Persian or English):\n{{ $('When called by router').item.json.draft_text }}\n\nCreate a full blog post JSON for Prof. Giv Sharifi's neurosurgery website.\n- All text in professional English\n- slug: lowercase hyphenated, max 60 chars\n- content: 6-10 blocks (paragraph, heading level 2, optional list)\n- tags: 5-8 SEO keywords\n- date: today ISO\n- featuredImagePath: assets/images/blog/{slug}.webp (use slug in path)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a medical website content assistant for Prof. Giv Sharifi, a neurosurgeon in Dubai and Tehran. Output valid JSON only via the parser. All public text must be professional English suitable for SEO."
        }
      },
      "id": "75aca434-30fd-4dda-aaa2-a782194bf6b4",
      "name": "Gemini blog writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "blog/_post-shell.html"
      },
      "id": "9856cb1f-3bb0-4f2e-8cd2-b77ec9523ea4",
      "name": "Get post HTML shell",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Gemini blog writer').first().json.output;\nconst post = {\n  ...p,\n  author: {\n    name: 'Prof. Giv Sharifi',\n    title: 'Board-Certified Neurosurgeon',\n    url: 'https://www.givsharifi.com/',\n  },\n  featuredImage: `/${p.featuredImagePath}`,\n};\nreturn [{ json: { post_json: JSON.stringify(post, null, 2) + '\\n' } }];\n"
      },
      "id": "0414bf84-d34b-4e7c-87af-17408976a6f1",
      "name": "Build post JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'posts/data/' + $('Gemini blog writer').item.json.output.slug + '.json' }}",
        "fileContent": "={{ $('Build post JSON').item.json.post_json }}",
        "commitMessage": "content: add blog post via Telegram bot"
      },
      "id": "5d4cdbcf-20ad-48ca-9533-18f3d26ac838",
      "name": "Create post JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'blog/' + $('Gemini blog writer').item.json.output.slug + '/index.html' }}",
        "fileContent": "={{ $('Get post HTML shell').item.json.content }}",
        "commitMessage": "content: add blog page shell via Telegram bot"
      },
      "id": "a8f3651b-9400-4949-812a-aa41ae7ece8c",
      "name": "Create blog HTML page",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json"
      },
      "id": "d6e12a6d-9bf8-4030-940a-1b379d480dd5",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get posts index').first().json;\nconst github = ghItem.body ?? ghItem;\nif (github.message && !github.content) {\n  throw new Error(`GitHub API: ${github.message}`);\n}\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n} else if (raw && !String(raw).trim().startsWith('{')) {\n  try {\n    raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n  } catch {\n    /* keep raw */\n  }\n}\nraw = String(raw).trim();\nif (!raw) {\n  throw new Error(\n    `GitHub file content empty — assign GitHub API credential on the Get node. Fields: ${Object.keys(github).join(', ')}`\n  );\n}\nconst idx = JSON.parse(raw);\nconst p = $('Gemini blog writer').first().json.output;\nidx.posts = [{\n  slug: p.slug,\n  title: p.title,\n  excerpt: p.excerpt,\n  date: p.date,\n  category: p.category,\n  image: `/${p.featuredImagePath}`,\n}, ...(idx.posts || [])];\nreturn [{ json: { index_json: JSON.stringify(idx, null, 2) + '\\n', index_sha: github.sha || '' } }];\n"
      },
      "id": "2f5ca20d-b06d-4f83-b484-9bf495e56b0b",
      "name": "Prepend to index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json",
        "fileContent": "={{ $json.index_json }}",
        "commitMessage": "content: update blog index via Telegram bot",
        "additionalParameters": {
          "sha": "={{ $json.index_sha }}"
        }
      },
      "id": "0cf671a1-911d-490f-bc9c-aba8bd34f507",
      "name": "Update posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id }}",
        "text": "=Blog post published.\n\n{{ $('Gemini blog writer').item.json.output.title }}\n\n{{ $env.GIV_SITE_URL }}/blog/{{ $('Gemini blog writer').item.json.output.slug }}/"
      },
      "id": "2fc4d940-0ffe-4cb1-96a3-657800574664",
      "name": "Telegram success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Blog publish\nDraft text → Gemini (full JSON) → GitHub post JSON + HTML shell + index.json.\n\nOptional: upload featured WebP to `assets/images/blog/` via GitHub node on the **true** branch of If."
      },
      "id": "2b01de58-96e5-486b-b8b4-d832453f545d",
      "name": "Note: Blog flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Has featured image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has featured image?": {
      "main": [
        [
          {
            "node": "Download featured image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download featured image": {
      "main": [
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog JSON parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog writer": {
      "main": [
        [
          {
            "node": "Get post HTML shell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post HTML shell": {
      "main": [
        [
          {
            "node": "Build post JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create blog HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post JSON": {
      "main": [
        [
          {
            "node": "Create post JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post JSON": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blog HTML page": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Prepend to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend to index": {
      "main": [
        [
          {
            "node": "Update posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update posts index": {
      "main": [
        [
          {
            "node": "Telegram success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7db96e69-77c0-491e-8dec-02f418bbe356",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    }
  ]
}
