n8n/blog-workflow/00-blog-telegram-router.json
{
  "name": "GivSharifi Blog \u2014 00 Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "3ad6fd85-1041-4d64-b320-a8c3bb9a59f0",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.message?.chat?.id || $json.callback_query?.message?.chat?.id) }}",
              "rightValue": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "31d16688-d7f2-4292-8ecd-0bbdb2fe8a00",
      "name": "Allowed chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_query ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "3c3f2347-0c8e-481e-ba9a-90b546dded62",
      "name": "Is callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_publish_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "publish"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_regen_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "656e7a58-9fdb-4aa2-bdd0-474a3afe2f3b",
      "name": "Route blog callback",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "236760d7-7c6f-4934-9568-453209f55451",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace('blog_publish_', '') }}",
              "type": "string"
            },
            {
              "id": "4df65d48-adbf-486c-a533-c481d9b479fa",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "d6019950-3d67-4c18-ba22-64c31adeb8e4",
              "name": "action",
              "value": "publish",
              "type": "string"
            }
          ]
        }
      },
      "id": "a01ce32b-beb2-4541-80d0-e5e0cd1a2650",
      "name": "Prepare publish payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "790649c6-58d5-4ae6-86a7-328aeef73ebf",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace(/blog_regen_(article|image)_/, '') }}",
              "type": "string"
            },
            {
              "id": "419133f7-740e-4e7f-a2d4-fad4341765c0",
              "name": "regen_type",
              "value": "={{ $json.callback_query.data.includes('image') ? 'image' : 'article' }}",
              "type": "string"
            },
            {
              "id": "a1e12cd4-b766-4ed7-bc14-53fa6d5e8185",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "472d1c59-3493-41e8-b935-3d34f10a0526",
              "name": "action",
              "value": "regen",
              "type": "string"
            }
          ]
        }
      },
      "id": "8896ec7f-087d-49c1-bb92-74bc7e38e129",
      "name": "Prepare regen payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Processing\u2026"
        }
      },
      "id": "162231b6-27ea-4669-a89d-0996c371364c",
      "name": "Answer callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_PUBLISH_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "c4a08607-0474-4625-9a6d-a7f7e70ea47d",
      "name": "Run blog publish",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        -160
      ],
      "notes": "Set GIV_BLOG_WF_PUBLISH_ID to 03-blog-publish workflow ID after import"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "bbd0a4cd-c01a-4855-8e69-c70265285fc2",
      "name": "Run blog draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "notes": "Set GIV_BLOG_WF_DRAFT_ID to 02-blog-draft-preview workflow ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogstatus",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogrun",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "run"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2e68ca6a-f7d5-443f-b7fb-74cd97d1dff0",
      "name": "Route command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Prof. Giv Sharifi \u2014 Blog Bot\n\n\ud83d\udcc5 Mon/Wed/Fri: auto draft from Google Sheet\n\u2705 Approve previews here\n\n/blogstatus \u2014 next queued posts\n/blogrun \u2014 force today's draft now",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "0e95cbd6-7747-47b4-bb18-8f75602a5d3b",
      "name": "Send blog menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_SCHEDULER_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "54c051c0-cc63-4a85-b8c2-93057928c37f",
      "name": "Run scheduler now",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        280
      ],
      "notes": "Set GIV_BLOG_WF_SCHEDULER_ID to 01-blog-scheduler workflow ID"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "71a004ab-196e-4fa8-900f-7bd0da58bd9f",
      "name": "Read calendar sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        400
      ],
      "notes": "Credential: Google Sheets OAuth. Document + tab from list (see GOOGLE-SHEETS-NODES.md)."
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ 'Queued: ' + $input.all().filter(i => i.json.status === 'queued').length + '\\nPreview: ' + $input.all().filter(i => i.json.status === 'preview').length + '\\nPublished: ' + $input.all().filter(i => i.json.status === 'published').length }}"
      },
      "id": "b2334331-c4b4-4cf3-828b-580fec3f5f13",
      "name": "Send sheet status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "Unauthorized."
      },
      "id": "c8da63f0-55de-42c2-83c9-f9c504d7973e",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog Telegram router\nCallbacks: `blog_publish_{id}`, `blog_regen_article_{id}`, `blog_regen_image_{id}`\n\nEnv: `GIV_TELEGRAM_ALLOWED_CHAT_ID`, `GIV_BLOG_WF_DRAFT_ID`, `GIV_BLOG_WF_PUBLISH_ID`, `GIV_BLOG_WF_SCHEDULER_ID` \u2014 see GOOGLE-SHEETS-NODES.md for Sheet nodes"
      },
      "id": "b90189d1-293b-4547-9ac2-06b276fcedd1",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Allowed chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed chat?": {
      "main": [
        [
          {
            "node": "Is callback?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is callback?": {
      "main": [
        [
          {
            "node": "Route blog callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route blog callback": {
      "main": [
        [
          {
            "node": "Prepare publish payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare regen payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare publish payload": {
      "main": [
        [
          {
            "node": "Run blog publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare regen payload": {
      "main": [
        [
          {
            "node": "Run blog draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route command": {
      "main": [
        [
          {
            "node": "Send blog menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read calendar sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run scheduler now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar sheet": {
      "main": [
        [
          {
            "node": "Send sheet status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a276bf25-d6b1-439d-88c8-3e1abf5be9ef",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
