n8n/blog-workflow/00-blog-telegram-router.json
{
  "name": "GivSharifi Blog \u2014 00 Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "b99254a5-eaf0-4022-bbc0-d8cb72de17ba",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.message?.chat?.id || $json.callback_query?.message?.chat?.id) }}",
              "rightValue": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "73a8fa64-690f-4ff0-ac43-662f3f4ea958",
      "name": "Allowed chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_query ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "7d422557-f190-47c2-b3f8-d6627d433a08",
      "name": "Is callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_publish_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "publish"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_regen_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f212641a-6a86-451f-9335-c98a9dcce9c3",
      "name": "Route blog callback",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "afc76fb2-0515-4f9e-85af-ef56519d784e",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace('blog_publish_', '') }}",
              "type": "string"
            },
            {
              "id": "7435e39b-c9ed-4f5d-ae70-0635da8e57d6",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "350f105f-ee9b-45e7-bf31-86a9146cc726",
              "name": "action",
              "value": "publish",
              "type": "string"
            }
          ]
        }
      },
      "id": "45132d6f-95ce-4026-9664-b7c8e0072ad2",
      "name": "Prepare publish payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "152eae45-46f4-4a93-a7de-a556aa673c9f",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace(/blog_regen_(article|image)_/, '') }}",
              "type": "string"
            },
            {
              "id": "af7dd5ce-5f8b-4ad0-9158-591a622a150c",
              "name": "regen_type",
              "value": "={{ $json.callback_query.data.includes('image') ? 'image' : 'article' }}",
              "type": "string"
            },
            {
              "id": "3060a8b4-1022-4ca0-8f48-dbfa06006bc9",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "b2dbbd20-42a9-4dae-9fc3-15c4e8f85c11",
              "name": "action",
              "value": "regen",
              "type": "string"
            }
          ]
        }
      },
      "id": "09bf5f52-3b34-4b8f-b97e-b85fa9dad686",
      "name": "Prepare regen payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Processing\u2026"
        }
      },
      "id": "04ce0ccc-5286-4a03-bdbe-afe66a2b01c7",
      "name": "Answer callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_PUBLISH_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "6b999051-e458-419a-b4ce-ca28433ed0fe",
      "name": "Run blog publish",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        -160
      ],
      "notes": "Set GIV_BLOG_WF_PUBLISH_ID to 03-blog-publish workflow ID after import"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "5823952e-ecd9-4842-b23b-3f90b67ffe7a",
      "name": "Run blog draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "notes": "Set GIV_BLOG_WF_DRAFT_ID to 02-blog-draft-preview workflow ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogstatus",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogrun",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "run"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "0846ddfb-7191-4e11-a812-fef8dcad9b00",
      "name": "Route command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Prof. Giv Sharifi \u2014 Blog Bot\n\n\ud83d\udcc5 Mon/Wed/Fri: auto draft from Google Sheet\n\u2705 Approve previews here\n\n/blogstatus \u2014 next queued posts\n/blogrun \u2014 force today's draft now",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "1587d675-4732-4f02-a47d-75ffc42bfa3f",
      "name": "Send blog menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_SCHEDULER_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "7eb5934f-a119-4297-a206-0a23cd21f278",
      "name": "Run scheduler now",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        280
      ],
      "notes": "Set GIV_BLOG_WF_SCHEDULER_ID to 01-blog-scheduler workflow ID"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "85f6d847-13e4-4d60-a4e8-3df42d7150a3",
      "name": "Read calendar sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        400
      ],
      "notes": "Credential: Google Sheets OAuth. Document + tab from list (see GOOGLE-SHEETS-NODES.md)."
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ 'Queued: ' + $input.all().filter(i => i.json.status === 'queued').length + '\\nPreview: ' + $input.all().filter(i => i.json.status === 'preview').length + '\\nPublished: ' + $input.all().filter(i => i.json.status === 'published').length }}"
      },
      "id": "e5b4fb6f-a10d-4983-8cd7-2fe949645033",
      "name": "Send sheet status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "Unauthorized."
      },
      "id": "383eb6de-b72e-4e1a-8a9d-8035661a9b7d",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog Telegram router\nCallbacks: `blog_publish_{id}`, `blog_regen_article_{id}`, `blog_regen_image_{id}`\n\nEnv: `GIV_TELEGRAM_ALLOWED_CHAT_ID`, `GIV_BLOG_WF_DRAFT_ID`, `GIV_BLOG_WF_PUBLISH_ID`, `GIV_BLOG_WF_SCHEDULER_ID` \u2014 see GOOGLE-SHEETS-NODES.md for Sheet nodes"
      },
      "id": "3d0a0fb4-1b6a-418a-9a94-294c949ba9c2",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Allowed chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed chat?": {
      "main": [
        [
          {
            "node": "Is callback?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is callback?": {
      "main": [
        [
          {
            "node": "Route blog callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route blog callback": {
      "main": [
        [
          {
            "node": "Prepare publish payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare regen payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare publish payload": {
      "main": [
        [
          {
            "node": "Run blog publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare regen payload": {
      "main": [
        [
          {
            "node": "Run blog draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route command": {
      "main": [
        [
          {
            "node": "Send blog menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read calendar sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run scheduler now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar sheet": {
      "main": [
        [
          {
            "node": "Send sheet status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c7c7268-e21f-4f36-a96a-83715aba1133",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
