n8n/blog-workflow/00-blog-telegram-router.json
{
  "name": "GivSharifi Blog \u2014 00 Telegram Router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "7193751b-e3a9-4bf8-98e7-c83c7e022015",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.message?.chat?.id || $json.callback_query?.message?.chat?.id) }}",
              "rightValue": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f75eff69-12e9-419d-875b-ac2cbb71f2cd",
      "name": "Allowed chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.callback_query ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "30bc6df5-05a2-48ae-9304-fedd88e63134",
      "name": "Is callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_publish_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "publish"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "blog_regen_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cb6bb7cf-b579-4efa-9afd-aaf3bf30c3d4",
      "name": "Route blog callback",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "24635495-bdbd-4ebc-bb34-f3c1547d7958",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace('blog_publish_', '') }}",
              "type": "string"
            },
            {
              "id": "0986477e-fd76-459b-88b3-71e3997e03d6",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "a5d029bc-3f6f-48ed-b6d5-b915108b26cf",
              "name": "action",
              "value": "publish",
              "type": "string"
            }
          ]
        }
      },
      "id": "36eeef54-4be8-47f5-bf7c-40a9bad3de54",
      "name": "Prepare publish payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "09eabb17-02b9-4db8-a85b-b8ab92972b6b",
              "name": "row_id",
              "value": "={{ $json.callback_query.data.replace(/blog_regen_(article|image)_/, '') }}",
              "type": "string"
            },
            {
              "id": "a895e0a5-cfc5-47b1-a27b-dfe8fec52703",
              "name": "regen_type",
              "value": "={{ $json.callback_query.data.includes('image') ? 'image' : 'article' }}",
              "type": "string"
            },
            {
              "id": "72628db5-b335-46a3-98bb-e65d78fb59ce",
              "name": "chat_id",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "1359860f-98f7-45ad-ae6b-41eafa8c6da6",
              "name": "action",
              "value": "regen",
              "type": "string"
            }
          ]
        }
      },
      "id": "744f7304-d1f4-4189-8908-1e1ec25a8ea3",
      "name": "Prepare regen payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Processing\u2026"
        }
      },
      "id": "828a4258-3b05-40e0-a2ee-c8d526a38db0",
      "name": "Answer callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_PUBLISH_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "73b55b9b-b29f-42e3-8984-a8fb14b0eabe",
      "name": "Run blog publish",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        -160
      ],
      "notes": "Set GIV_BLOG_WF_PUBLISH_ID to 03-blog-publish workflow ID after import"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "673ae600-dc30-49bb-be14-26c8634d7ada",
      "name": "Run blog draft",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "notes": "Set GIV_BLOG_WF_DRAFT_ID to 02-blog-draft-preview workflow ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogstatus",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text || '' }}",
                    "rightValue": "/blogrun",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "run"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "67f2e583-9208-4f67-9f50-9a5d5a2d4087",
      "name": "Route command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Prof. Giv Sharifi \u2014 Blog Bot\n\n\ud83d\udcc5 Mon/Wed/Fri: auto draft from Google Sheet\n\u2705 Approve previews here\n\n/blogstatus \u2014 next queued posts\n/blogrun \u2014 force today's draft now",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d96d5fe0-34c7-46fc-8cb2-5412e7fdfa3b",
      "name": "Send blog menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_SCHEDULER_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "8dcd0397-ba4e-4169-8f31-0b0ec4c6d51a",
      "name": "Run scheduler now",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        280
      ],
      "notes": "Set GIV_BLOG_WF_SCHEDULER_ID to 01-blog-scheduler workflow ID"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "27b78393-3513-428f-aee6-9a59b9493b57",
      "name": "Read calendar sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        400
      ],
      "notes": "Credential: Google Sheets OAuth. Document + tab from list (see GOOGLE-SHEETS-NODES.md)."
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ 'Queued: ' + $input.all().filter(i => i.json.status === 'queued').length + '\\nPreview: ' + $input.all().filter(i => i.json.status === 'preview').length + '\\nPublished: ' + $input.all().filter(i => i.json.status === 'published').length }}"
      },
      "id": "e95bfeae-bdae-4aff-814d-77a908975867",
      "name": "Send sheet status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
        "text": "Unauthorized."
      },
      "id": "a4bd940f-f61b-44d0-aea3-a93056ee16b0",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog Telegram router\nCallbacks: `blog_publish_{id}`, `blog_regen_article_{id}`, `blog_regen_image_{id}`\n\nEnv: `GIV_TELEGRAM_ALLOWED_CHAT_ID`, `GIV_BLOG_WF_DRAFT_ID`, `GIV_BLOG_WF_PUBLISH_ID`, `GIV_BLOG_WF_SCHEDULER_ID` \u2014 see GOOGLE-SHEETS-NODES.md for Sheet nodes"
      },
      "id": "c41113ab-8156-4f76-9f20-b80494799519",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Allowed chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed chat?": {
      "main": [
        [
          {
            "node": "Is callback?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is callback?": {
      "main": [
        [
          {
            "node": "Route blog callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route blog callback": {
      "main": [
        [
          {
            "node": "Prepare publish payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare regen payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare publish payload": {
      "main": [
        [
          {
            "node": "Run blog publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare regen payload": {
      "main": [
        [
          {
            "node": "Run blog draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route command": {
      "main": [
        [
          {
            "node": "Send blog menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read calendar sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run scheduler now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar sheet": {
      "main": [
        [
          {
            "node": "Send sheet status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "303fd72c-7269-4d0e-a56a-feb94816e3a0",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
