n8n/blog-workflow/01-blog-scheduler.json
{
  "name": "GivSharifi Blog \u2014 01 Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "4b53a664-30f0-4fbd-b72a-894e83e49737",
      "name": "Mon Wed Fri 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "09:00 server time \u2014 set VPS timezone to Asia/Dubai or adjust cron"
    },
    {
      "parameters": {},
      "id": "942b86b9-7b24-42e5-97d7-4826305fce14",
      "name": "When called manually",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "ad4a7cbe-44b6-40c9-96eb-a839fd6d5429",
              "name": "today",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "6adeb444-f982-4247-a8ca-c7c5c030a13f",
      "name": "Set today ISO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "ff224e43-3650-4de0-b71b-77f254737bb9",
      "name": "Read calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = $('Set today ISO').first().json.today;\nconst rows = $input.all().map((i) => i.json);\nconst match = rows.find((r) => r.status === 'queued' && String(r.scheduled_date).trim() === today);\nif (!match) {\n  return [{ json: { found: false, today, message: `No queued row for ${today}` } }];\n}\nreturn [{ json: { found: true, ...match } }];\n"
      },
      "id": "37056c10-20a9-4847-8a05-9d835e0ef57e",
      "name": "Pick today queued row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "e8e54d51-d5af-4e70-a5f2-df1e41fa0714",
              "name": "chat_id",
              "value": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "f33dabcc-9aad-42e2-b0ca-fbc65143abdb",
      "name": "Set calendar row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "notes": "Replace chat_id with your numeric Telegram chat ID (same as router allowed chat)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a8ca55bf-0ada-4a2e-8c4a-16387fc7b6f7",
      "name": "Row found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "drafting"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "13797c04-c706-4662-9616-c65273b0dddf",
      "name": "Sheet status drafting",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        0
      ],
      "notes": "Update Row \u2014 match column: id"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "60eb5d06-9e73-440c-a36c-4ea26346c0a7",
      "name": "Run draft and preview",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
        "text": "={{ 'Blog scheduler: ' + $json.message }}"
      },
      "id": "7587f289-7a15-49eb-827a-60a564304d1c",
      "name": "Telegram no row",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog scheduler\nReads Google Sheet `content-calendar-template.csv` \u2192 finds `status=queued` + `scheduled_date=today` \u2192 runs draft workflow.\n\nImport `content-calendar-template.csv` into Google Sheets tab named `Calendar`."
      },
      "id": "398fc441-ce77-4b56-9f92-360bb27f26ec",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "Mon Wed Fri 9am": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called manually": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today ISO": {
      "main": [
        [
          {
            "node": "Read calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar": {
      "main": [
        [
          {
            "node": "Pick today queued row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick today queued row": {
      "main": [
        [
          {
            "node": "Row found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row found?": {
      "main": [
        [
          {
            "node": "Set calendar row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram no row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set calendar row": {
      "main": [
        [
          {
            "node": "Sheet status drafting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run draft and preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce4a9c9a-6c7c-4e60-a651-f30d3f93fa66",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
