n8n/blog-workflow/01-blog-scheduler.json
{
  "name": "GivSharifi Blog \u2014 01 Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "d6d8332e-3b7b-4275-aa0b-fad9988e8d7d",
      "name": "Mon Wed Fri 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "09:00 server time \u2014 set VPS timezone to Asia/Dubai or adjust cron"
    },
    {
      "parameters": {},
      "id": "da6064a1-7df6-41dd-9534-9e780f171b12",
      "name": "When called manually",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "8f3671ed-873d-4a42-b639-ba7b70bc5de6",
              "name": "today",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "41f2e17e-1c73-4d50-855f-586b45902435",
      "name": "Set today ISO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "a373e835-5f13-4abc-9409-f7e592fca113",
      "name": "Read calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = $('Set today ISO').first().json.today;\nconst rows = $input.all().map((i) => i.json);\nconst match = rows.find((r) => r.status === 'queued' && r.scheduled_date === today);\nif (!match) {\n  return [{ json: { found: false, today, message: `No queued row for ${today}` } }];\n}\nreturn [{ json: { found: true, ...match } }];\n"
      },
      "id": "4d995032-71e9-4f52-b89a-e428def6296d",
      "name": "Pick today queued row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b452bfec-8c92-4bdc-ba99-49562d230e1f",
      "name": "Row found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "drafting"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "31f5cadf-6c8f-4323-9d35-babba9c0af98",
      "name": "Sheet status drafting",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        0
      ],
      "notes": "Update Row \u2014 match column: id"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "16fdbc4e-f655-41a9-8a64-8c4f88e79e0b",
      "name": "Run draft and preview",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
        "text": "={{ 'Blog scheduler: ' + $json.message }}"
      },
      "id": "6a9558cb-213c-4d64-ad6f-b4fa915ea7a0",
      "name": "Telegram no row",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog scheduler\nReads Google Sheet `content-calendar-template.csv` \u2192 finds `status=queued` + `scheduled_date=today` \u2192 runs draft workflow.\n\nImport `content-calendar-template.csv` into Google Sheets tab named `Calendar`."
      },
      "id": "42557d34-11c6-451f-ac57-f989252ebf93",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "Mon Wed Fri 9am": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called manually": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today ISO": {
      "main": [
        [
          {
            "node": "Read calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar": {
      "main": [
        [
          {
            "node": "Pick today queued row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick today queued row": {
      "main": [
        [
          {
            "node": "Row found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row found?": {
      "main": [
        [
          {
            "node": "Sheet status drafting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram no row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet status drafting": {
      "main": [
        [
          {
            "node": "Run draft and preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06d51fb5-43ea-4fb6-b45b-1c94f2c5e667",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
