n8n/blog-workflow/01-blog-scheduler.json
{
  "name": "GivSharifi Blog \u2014 01 Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "ec899847-4a3f-483f-aaa8-a27884adeb78",
      "name": "Mon Wed Fri 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "09:00 server time \u2014 set VPS timezone to Asia/Dubai or adjust cron"
    },
    {
      "parameters": {},
      "id": "b2cdf289-3ccf-4d7b-bdca-2c73136a15ce",
      "name": "When called manually",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "2c0414df-53a2-4e2b-8aaa-2187db0391e5",
              "name": "today",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "3989a98b-a5ad-4c86-8ead-a3caed016af3",
      "name": "Set today ISO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "e0253e41-8f06-45c1-afdc-4425b1fe9fa8",
      "name": "Read calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = $('Set today ISO').first().json.today;\nconst rows = $input.all().map((i) => i.json);\nconst match = rows.find((r) => r.status === 'queued' && String(r.scheduled_date).trim() === today);\nif (!match) {\n  return [{ json: { found: false, today, message: `No queued row for ${today}` } }];\n}\nreturn [{ json: { found: true, ...match } }];\n"
      },
      "id": "4cc5d0ad-ddc5-4511-ad19-446709b10079",
      "name": "Pick today queued row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "6c96bef0-b68d-4b02-a24e-f62a69acdd54",
              "name": "chat_id",
              "value": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "1086e2e9-cf64-473e-92a3-002caabfd280",
      "name": "Set calendar row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "notes": "Replace chat_id with your numeric Telegram chat ID (same as router allowed chat)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cf9b3167-c74a-414e-85f6-b01b40a20af1",
      "name": "Row found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "drafting"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "986afd27-c718-4a67-ad6d-1fe16864546d",
      "name": "Sheet status drafting",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        0
      ],
      "notes": "Update Row \u2014 match column: id"
    },
    {
      "parameters": {
        "workflowId": "={{ $env.GIV_BLOG_WF_DRAFT_ID }}",
        "mode": "each",
        "options": {}
      },
      "id": "9951fbbc-19af-4ef0-ae3c-271d6e03cb24",
      "name": "Run draft and preview",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
        "text": "={{ 'Blog scheduler: ' + $json.message }}"
      },
      "id": "6b54b869-6af7-4641-9900-e478c36c8d06",
      "name": "Telegram no row",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Blog scheduler\nReads Google Sheet `content-calendar-template.csv` \u2192 finds `status=queued` + `scheduled_date=today` \u2192 runs draft workflow.\n\nImport `content-calendar-template.csv` into Google Sheets tab named `Calendar`."
      },
      "id": "0ad8ccc3-8e7f-484d-80f2-abe24342a787",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "Mon Wed Fri 9am": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When called manually": {
      "main": [
        [
          {
            "node": "Set today ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set today ISO": {
      "main": [
        [
          {
            "node": "Read calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read calendar": {
      "main": [
        [
          {
            "node": "Pick today queued row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick today queued row": {
      "main": [
        [
          {
            "node": "Row found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row found?": {
      "main": [
        [
          {
            "node": "Set calendar row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram no row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set calendar row": {
      "main": [
        [
          {
            "node": "Sheet status drafting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run draft and preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "985fe132-0974-4560-8c02-b8f7159f549f",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
