n8n/blog-workflow/02-blog-draft-preview.json
{
  "name": "GivSharifi Blog \u2014 02 Draft and Preview",
  "nodes": [
    {
      "parameters": {},
      "id": "e2497c3e-b794-4df4-9e83-a7b44219690c",
      "name": "When called by scheduler",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json"
      },
      "id": "16eadc67-f5b4-4d36-81b4-987491246475",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        220,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get posts index').first().json;\nconst github = ghItem.body ?? ghItem;\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nconst idx = JSON.parse(String(raw).trim() || '{\"posts\":[]}');\nconst titles = (idx.posts || []).map((p) => `- ${p.slug}: ${p.title}`).join('\\n');\nreturn [{ json: { existing_posts: titles } }];\n"
      },
      "id": "4c6c2066-281e-4abb-aa39-d2b6560d3be5",
      "name": "Build existing keywords context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -120
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {
          "temperature": 0.35
        }
      },
      "id": "6de16b57-195d-4cc6-bd32-46112a7a4f12",
      "name": "Gemini blog model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        120
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"slug\": \"lumbar-disc-herniation-treatment\",\n  \"title\": \"Article title 50-60 chars with primary keyword\",\n  \"metaDescription\": \"SEO meta 150-155 chars with primary keyword and soft CTA\",\n  \"excerpt\": \"Two-sentence card excerpt different from meta description\",\n  \"date\": \"2026-06-30\",\n  \"category\": \"Spinal Surgery\",\n  \"tags\": [\n    \"lumbar disc herniation\",\n    \"microdiscectomy\",\n    \"neurosurgery Dubai\",\n    \"spine surgeon Tehran\"\n  ],\n  \"readingTimeMinutes\": 8,\n  \"featuredImagePath\": \"assets/images/blog/lumbar-disc-herniation-treatment.webp\",\n  \"primaryKeyword\": \"lumbar disc herniation treatment\",\n  \"wordCountEstimate\": 1200,\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Opening paragraph with primary keyword in first 100 words.\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"What Is a Herniated Disc?\"\n    },\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"Educational body text in simple B2 English.\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"Symptoms and When to See a Specialist\"\n    },\n    {\n      \"type\": \"list\",\n      \"items\": [\n        \"Item one\",\n        \"Item two\",\n        \"Item three\"\n      ]\n    },\n    {\n      \"type\": \"cta\",\n      \"text\": \"Explore spinal surgery services\",\n      \"href\": \"/spinal-surgery/\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 2,\n      \"text\": \"Frequently Asked Questions\"\n    },\n    {\n      \"type\": \"heading\",\n      \"level\": 3,\n      \"text\": \"How long is recovery after microdiscectomy?\"\n    },\n    {\n      \"type\": \"paragraph\",\n      \"text\": \"FAQ answer paragraph.\"\n    }\n  ]\n}"
      },
      "id": "723ac210-cc2d-4ce0-85c1-298f420918e7",
      "name": "Blog JSON parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Calendar row:\\nid: {{ $json.id }}\\ncluster: {{ $json.cluster }}\\npillar_url: {{ $json.pillar_url }}\\nprimary_keyword: {{ $json.primary_keyword }}\\nsearch_intent: {{ $json.search_intent }}\\nproposed_title: {{ $json.proposed_title }}\\nproposed_slug: {{ $json.proposed_slug }}\\nsecondary_keywords: {{ $json.secondary_keywords }}\\ncategory: {{ $json.category }}\\n\\nAlready published (avoid duplicate intent):\\n{{ $('Build existing keywords context').item.json.existing_posts }}\\n\\nWrite a full SEO blog post JSON for Prof. Giv Sharifi's website.\\nRULES:\\n- English only, B2 level, short clear sentences\\n- MINIMUM 1000 words in content blocks combined\\n- slug: 3-5 words, lowercase hyphenated, NO stop words (the, and, for, of, in, to, with)\\n- title: 50-60 chars, primary keyword near start\\n- metaDescription: 150-155 chars, unique from excerpt, soft CTA\\n- 5-8 tags including neurosurgery Dubai and neurosurgeon Tehran where natural\\n- category: use calendar category value\\n- content: 20+ blocks \u2014 intro, 5-6 H2 sections, bullet lists, 2+ cta blocks linking pillar_url and /\\n- FAQ: H2 'Frequently Asked Questions' then 5x H3 question + paragraph answers\\n- YMYL: no guaranteed outcomes; use may, can, your surgeon will assess\\n- Include primary_keyword in first paragraph and one H2\\n- featuredImagePath: assets/images/blog/{slug}.webp",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert medical SEO content writer for Prof. Giv Sharifi, board-certified neurosurgeon in Dubai and Tehran. Output valid JSON only. Simple English for general readers. Never use Persian."
        }
      },
      "id": "3d9596e4-a3dc-4385-bcb5-fd1a5669bed4",
      "name": "Gemini blog writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = $('Gemini blog writer').first().json.output || {};\nconst row = $('When called by scheduler').first().json;\n\nconst STOP = new Set([\n  'a','an','the','and','or','for','of','in','on','to','with','at','by','from','as','is','are','was','were','be','been','being',\n]);\n\nfunction slugify(s) {\n  return String(s || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .split(/\\s+/)\n    .filter((w) => w && !STOP.has(w))\n    .join('-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .slice(0, 60);\n}\n\nconst slug = slugify(out.slug || row.proposed_slug || row.primary_keyword);\nif (!slug) throw new Error('Could not build SEO slug');\n\nconst text = JSON.stringify(out.content || []);\nconst words = text.replace(/[{}\"\\[\\],:]/g, ' ').split(/\\s+/).filter(Boolean).length;\nif (words < 1000) {\n  throw new Error(`Article too short: ~${words} words (minimum 1000). Regenerate.`);\n}\n\nout.slug = slug;\nout.featuredImagePath = `assets/images/blog/${slug}.webp`;\nout.date = out.date || new Date().toISOString().slice(0, 10);\nout.readingTimeMinutes = Math.max(8, Math.round(words / 200));\n\nreturn [{\n  json: {\n    ...row,\n    normalized: out,\n    word_count: words,\n    image_prompt: `Professional medical illustration for a patient education article titled \"${out.title}\". `\n      + `Topic: ${row.primary_keyword}. Style: clean modern healthcare illustration, soft blue and white tones, `\n      + `abstract anatomy or MRI scan motif. No blood, no surgery scenes, no patient faces, no text, no logos. 16:9.`,\n  },\n}];\n"
      },
      "id": "5f477cd0-f5f7-41bc-8241-dba8757ee61a",
      "name": "Normalize blog output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'dall-e-3', prompt: $json.image_prompt, n: 1, size: '1792x1024', response_format: 'b64_json' } }}"
      },
      "id": "877d4ffe-642c-4c79-b337-3636f774dbd7",
      "name": "Generate featured image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -80
      ],
      "notes": "Assign OpenAI API credential. Or swap for Google Imagen HTTP node."
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst b64 = body.data?.[0]?.b64_json;\nif (!b64) throw new Error('No image returned from OpenAI');\nconst row = $('Normalize blog output').first().json;\nreturn [{ json: { ...row, image_base64: b64 } }];\n"
      },
      "id": "fd0f672c-581f-403c-821c-9d05d485ccd6",
      "name": "Extract image base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'posts/data/_drafts/' + $('Normalize blog output').item.json.normalized.slug + '.json' }}",
        "fileContent": "={{ JSON.stringify($('Normalize blog output').item.json, null, 2) }}",
        "commitMessage": "=blog: save draft {{ $('Normalize blog output').item.json.normalized.slug }}"
      },
      "id": "29c9ebe2-7b32-4889-a06e-768a50b8fdde",
      "name": "Save draft JSON GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        80
      ],
      "notes": "Uses edit operation on re-run \u2014 update manually if slug exists"
    },
    {
      "parameters": {
        "jsCode": "const row = $('Normalize blog output').first().json;\nconst p = row.normalized;\nconst blocks = (p.content || []).filter((b) => b.type === 'paragraph').slice(0, 2);\nconst preview = blocks.map((b) => b.text).join('\\n\\n').slice(0, 400);\nreturn [{\n  json: {\n    chat_id: $env.GIV_TELEGRAM_ALLOWED_CHAT_ID,\n    row_id: row.id,\n    slug: p.slug,\n    preview_message:\n      `\ud83d\udccb <b>Blog preview</b> (row ${row.id})\\n\\n`\n      + `<b>Title:</b> ${p.title}\\n`\n      + `<b>Slug:</b> ${p.slug}\\n`\n      + `<b>Meta:</b> ${p.metaDescription}\\n`\n      + `<b>Words:</b> ~${row.word_count}\\n`\n      + `<b>Cluster:</b> ${row.cluster}\\n`\n      + `<b>Primary KW:</b> ${row.primary_keyword}\\n\\n`\n      + `<b>Excerpt:</b>\\n${preview}\u2026`,\n    callback_publish: `blog_publish_${row.id}`,\n    callback_regen_article: `blog_regen_article_${row.id}`,\n    callback_regen_image: `blog_regen_image_${row.id}`,\n    callback_skip: `blog_skip_${row.id}`,\n  },\n}];\n"
      },
      "id": "9d35df40-b84a-4691-a4e8-d341494f6d6e",
      "name": "Build preview message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $json.preview_message }}",
          "parse_mode": "HTML"
        }
      },
      "id": "81c3c842-eb82-444a-a63d-c38c410ac052",
      "name": "Send preview photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -80
      ],
      "notes": "Wire binary from image \u2014 map in n8n UI: binary property from previous HTTP node converted to file"
    },
    {
      "parameters": {
        "chatId": "={{ $('Build preview message').item.json.chat_id }}",
        "text": "Approve this blog post?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "\u2705 Publish",
                      "additionalFields": {
                        "callback_data": "={{ $('Build preview message').item.json.callback_publish }}"
                      }
                    },
                    {
                      "text": "\ud83d\udd04 Regen article",
                      "additionalFields": {
                        "callback_data": "={{ $('Build preview message').item.json.callback_regen_article }}"
                      }
                    }
                  ]
                }
              }
            ],
            [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "\ud83d\uddbc Regen image",
                      "additionalFields": {
                        "callback_data": "={{ $('Build preview message').item.json.callback_regen_image }}"
                      }
                    },
                    {
                      "text": "\u274c Skip",
                      "additionalFields": {
                        "callback_data": "={{ $('Build preview message').item.json.callback_skip }}"
                      }
                    }
                  ]
                }
              }
            ]
          ]
        }
      },
      "id": "482dab2b-0189-45ab-b775-726eea59d535",
      "name": "Send approve buttons",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When called by scheduler').item.json.id }}",
            "status": "preview",
            "published_slug": "={{ $('Normalize blog output').item.json.normalized.slug }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "dde56198-dbe5-48ff-9bc8-391c5b710721",
      "name": "Sheet status preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Draft + preview\nGemini 1000+ words \u2192 slug normalize \u2192 DALL-E image \u2192 Telegram preview \u2192 Sheet status=preview\n\nAfter import: connect binary image path to Send preview photo (Convert to File node if needed)."
      },
      "id": "7cd347dc-86de-412b-ada1-4129aa656da3",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -200
      ]
    }
  ],
  "connections": {
    "When called by scheduler": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Build existing keywords context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build existing keywords context": {
      "main": [
        [
          {
            "node": "Gemini blog writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog JSON parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini blog writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini blog writer": {
      "main": [
        [
          {
            "node": "Normalize blog output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize blog output": {
      "main": [
        [
          {
            "node": "Generate featured image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save draft JSON GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate featured image": {
      "main": [
        [
          {
            "node": "Extract image base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract image base64": {
      "main": [
        [
          {
            "node": "Build preview message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save draft JSON GitHub": {
      "main": [
        [
          {
            "node": "Build preview message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build preview message": {
      "main": [
        [
          {
            "node": "Send preview photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send approve buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send approve buttons": {
      "main": [
        [
          {
            "node": "Sheet status preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b176370-e96d-4acb-af56-3b1bc54f2555",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
