n8n/blog-workflow/03-blog-publish.json
{
  "name": "GivSharifi Blog \u2014 03 Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "7c0ed567-7d6e-4aad-99af-337a40585c02",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $('When called by router').item.json.row_id || '1' }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "52f0815b-8ede-4637-a3ea-c4b158b5ce8f",
      "name": "Read sheet row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "notes": "Filter: id = row_id from router (or 1 for manual test). No Code node needed."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://raw.githubusercontent.com/alecasgari/givsharifi-website/main/posts/data/_drafts/' + $json.published_slug + '.json' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "677fc05d-f03a-46cb-a884-08fd75816876",
      "name": "Get draft JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "notes": "Public raw JSON (~3MB with image_base64). Do NOT use GitHub get + binary mode."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst row = $('Read sheet row').first().json;\nconst slug = row.published_slug;\n\nif (!slug) {\n  throw new Error(`Row ${row.id} has no published_slug \u2014 run draft workflow 02 first`);\n}\nlet draft = item.json;\n\n// HTTP Request (responseFormat json) \u2014 draft fields at top level\nif (draft?.normalized) {\n  draft.normalized.featuredImagePath = `assets/images/blog/${draft.normalized.slug}.png`;\n  return [{\n    json: {\n      row,\n      normalized: draft.normalized,\n      image_base64: draft.image_base64 || '',\n    },\n  }];\n}\n\n// GitHub node: JSON mode (content base64) or binary mode (filesystem)\nlet raw = '';\nif (item.binary && Object.keys(item.binary).length) {\n  const key = item.binary.data ? 'data' : Object.keys(item.binary)[0];\n  const buf = await this.helpers.getBinaryDataBuffer(0, key);\n  raw = buf.toString('utf8');\n} else {\n  const gh = item.json?.body ?? item.json ?? {};\n  raw = gh.content ?? '';\n  if (gh.encoding === 'base64' && raw) {\n    raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n  } else if (raw && !String(raw).trim().startsWith('{')) {\n    try {\n      raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n    } catch { /* keep raw */ }\n  }\n}\n\nraw = String(raw).trim();\nif (!raw) {\n  throw new Error(\n    `Draft \"${slug}\" unreadable (0 bytes in n8n). `\n    + 'File may exist on GitHub \u2014 use HTTP Request on Get draft JSON, or turn OFF \"As Binary Property\".'\n  );\n}\n\ndraft = JSON.parse(raw);\nif (!draft.normalized) throw new Error('Draft missing normalized post');\n\ndraft.normalized.featuredImagePath = `assets/images/blog/${draft.normalized.slug}.png`;\n\nreturn [{\n  json: {\n    row,\n    normalized: draft.normalized,\n    image_base64: draft.image_base64 || '',\n  },\n}];\n"
      },
      "id": "4f07fbd0-3404-4bd3-abe0-c81bf49d2da3",
      "name": "Parse draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parse draft').first().json.normalized;\nconst imagePath = `assets/images/blog/${p.slug}.png`;\nconst post = {\n  ...p,\n  author: {\n    name: 'Prof. Giv Sharifi',\n    title: 'Board-Certified Neurosurgeon',\n    url: 'https://www.givsharifi.com/',\n  },\n  featuredImage: `/${imagePath}`,\n};\ndelete post.featuredImagePath;\ndelete post.primaryKeyword;\ndelete post.wordCountEstimate;\nreturn [{ json: { post_json: JSON.stringify(post, null, 2) + '\\n', slug: p.slug } }];\n"
      },
      "id": "7932f629-b71c-44bf-ab0f-fb003a290925",
      "name": "Build post JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/alecasgari/givsharifi-website/main/blog/_post-shell.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b26e7042-fe4b-4a5a-8145-d332cbfa65ed",
      "name": "Get post HTML shell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        80
      ],
      "notes": "Raw HTML shell \u2014 do NOT use GitHub get (content is base64 in API)."
    },
    {
      "parameters": {
        "jsCode": "const row = $('Parse draft').first().json;\nconst slug = row.normalized.slug;\nconst b64 = row.image_base64;\nif (!b64) throw new Error('No image_base64 in draft');\nconst image_path = `assets/images/blog/${slug}.png`;\nconst buffer = Buffer.from(b64, 'base64');\nconst binary = await this.helpers.prepareBinaryData(buffer, `${slug}.png`, 'image/png');\nreturn [{\n  json: { image_path, slug },\n  binary: { data: binary },\n}];\n"
      },
      "id": "7da09280-d6a8-4037-b5cc-23138469b327",
      "name": "Pack featured image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'posts/data/' + $('Parse draft').item.json.normalized.slug + '.json' }}",
        "fileContent": "={{ $('Build post JSON').item.json.post_json }}",
        "commitMessage": "=content: publish blog {{ $('Parse draft').item.json.normalized.slug }}"
      },
      "id": "a225fa69-7a0b-4be1-a2d7-28fdb9d55135",
      "name": "Create post JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'blog/' + $('Parse draft').item.json.normalized.slug + '/index.html' }}",
        "fileContent": "={{ $('Get post HTML shell').item.json.data || $('Get post HTML shell').item.json.body || $('Get post HTML shell').item.json }}",
        "commitMessage": "=content: add blog shell {{ $('Parse draft').item.json.normalized.slug }}"
      },
      "id": "df750e5f-8c68-44fe-a8e1-2902935ed947",
      "name": "Create blog HTML page",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ $json.image_path }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "commitMessage": "=content: add blog image {{ $json.slug }}"
      },
      "id": "b7909300-0c06-440d-bbc5-e0f50f526568",
      "name": "Upload featured image",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        160
      ],
      "notes": "PNG from OpenAI \u2014 path assets/images/blog/{slug}.png"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json"
      },
      "id": "cf9ab100-679b-4ebf-8a8f-9db73aaad168",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ],
      "notes": "Turn OFF As Binary Property. Need sha for index edit."
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get posts index').first();\nconst github = ghItem.json?.body ?? ghItem.json ?? {};\n\nlet idx = null;\n\nif (Array.isArray(github.posts)) {\n  idx = { ...github };\n} else if (Array.isArray(ghItem.json?.posts)) {\n  idx = ghItem.json;\n} else {\n  let raw = github.content;\n\n  // n8n / GitHub sometimes returns parsed JSON object in content\n  if (raw && typeof raw === 'object' && Array.isArray(raw.posts)) {\n    idx = raw;\n  } else {\n    let rawStr = typeof raw === 'string' ? raw : '';\n    if (github.encoding === 'base64' && rawStr) {\n      rawStr = Buffer.from(rawStr.replace(/\\n/g, ''), 'base64').toString('utf8');\n    } else if (rawStr && !rawStr.trim().startsWith('{')) {\n      try {\n        rawStr = Buffer.from(rawStr.replace(/\\n/g, ''), 'base64').toString('utf8');\n      } catch { /* keep */ }\n    }\n    if (!rawStr && ghItem.binary && Object.keys(ghItem.binary).length) {\n      const key = ghItem.binary.data ? 'data' : Object.keys(ghItem.binary)[0];\n      const buf = await this.helpers.getBinaryDataBuffer(0, key);\n      rawStr = buf.toString('utf8');\n    }\n    if (!rawStr) {\n      idx = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://raw.githubusercontent.com/alecasgari/givsharifi-website/main/posts/data/index.json',\n        json: true,\n      });\n    } else {\n      idx = JSON.parse(rawStr.trim());\n    }\n  }\n}\n\nif (!idx || !Array.isArray(idx.posts)) {\n  throw new Error(\n    'Could not load posts/data/index.json \u2014 GitHub fields: ' + Object.keys(github).join(', ')\n  );\n}\n\nconst p = $('Parse draft').first().json.normalized;\nconst row = $('Read sheet row').first().json;\nconst title = p.title || row.proposed_title || p.slug;\nconst imagePath = `assets/images/blog/${p.slug}.png`;\nidx.posts = [{\n  slug: p.slug,\n  title,\n  excerpt: p.excerpt,\n  date: p.date,\n  category: p.category,\n  image: `/${imagePath}`,\n}, ...(idx.posts || [])];\n\nreturn [{\n  json: {\n    index_json: JSON.stringify(idx, null, 2) + '\\n',\n    index_sha: github.sha || ghItem.json?.sha || '',\n  },\n}];\n"
      },
      "id": "04427562-4043-4b19-b7db-15faf6dc37ad",
      "name": "Prepend to index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json",
        "fileContent": "={{ $json.index_json }}",
        "commitMessage": "=content: update blog index {{ $('Parse draft').item.json.normalized.slug }}",
        "additionalParameters": {
          "sha": "={{ $json.index_sha }}"
        }
      },
      "id": "6cb2f745-decb-4da8-8876-acd914169548",
      "name": "Update posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Parse draft').item.json.row.id }}",
            "status": "published",
            "published_url": "={{ 'https://www.givsharifi.com/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "9b59e9f6-2077-4911-a8b8-9db1029487a9",
      "name": "Sheet status published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id || $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
        "text": "={{ '\u2705 Blog published\\n\\n' + $('Parse draft').item.json.normalized.title + '\\n\\n' + $env.GIV_SITE_URL + '/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              {
                "text": "Open on website",
                "url": "={{ $env.GIV_SITE_URL + '/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}"
              }
            ]
          ]
        }
      },
      "id": "3dc49644-55d3-472b-adca-d76a8293cd9f",
      "name": "Telegram published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Publish on approve\nLoads draft from `posts/data/_drafts/{slug}.json` \u2192 GitHub post + shell + image + index \u2192 Sheet published"
      },
      "id": "178d85c1-9301-4642-80e6-9380bb42a877",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Read sheet row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read sheet row": {
      "main": [
        [
          {
            "node": "Get draft JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get draft JSON": {
      "main": [
        [
          {
            "node": "Parse draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse draft": {
      "main": [
        [
          {
            "node": "Build post JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get post HTML shell",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pack featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack featured image": {
      "main": [
        [
          {
            "node": "Upload featured image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post JSON": {
      "main": [
        [
          {
            "node": "Create post JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post HTML shell": {
      "main": [
        [
          {
            "node": "Create blog HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post JSON": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blog HTML page": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Prepend to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend to index": {
      "main": [
        [
          {
            "node": "Update posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update posts index": {
      "main": [
        [
          {
            "node": "Sheet status published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet status published": {
      "main": [
        [
          {
            "node": "Telegram published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When called by router": [
      {
        "json": {
          "row_id": "1",
          "chat_id": "5131907549",
          "action": "publish"
        }
      }
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8876d7be-42d6-49bd-b047-22b00e949d84",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
