n8n/blog-workflow/03-blog-publish.json
{
  "name": "GivSharifi Blog \u2014 03 Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "732a4001-864e-4a73-93b6-19b99bbc2d97",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "options": {}
      },
      "id": "966aaa12-9b54-4e82-b10a-34fd6764e3df",
      "name": "Read sheet row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rowId = String($('When called by router').first().json.row_id);\nconst row = $input.all().map((i) => i.json).find((r) => String(r.id) === rowId);\nif (!row) throw new Error('Sheet row not found: ' + rowId);\nif (!row.published_slug) throw new Error('No published_slug on row \u2014 run draft first');\nreturn [{ json: row }];\n"
      },
      "id": "23ce10bb-6333-4c85-b9fd-b59a59ee4c8c",
      "name": "Find row by id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'posts/data/_drafts/' + $json.published_slug + '.json' }}"
      },
      "id": "12b0399c-7510-4054-9847-ec0c95e05941",
      "name": "Get draft JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const gh = $input.first().json;\nlet raw = gh.content ?? '';\nif (gh.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nconst draft = JSON.parse(String(raw).trim());\nconst p = draft.normalized;\nif (!p) throw new Error('Draft missing normalized post');\nreturn [{ json: { row: $('Find row by id').first().json, normalized: p, image_base64: draft.image_base64 || '' } }];\n"
      },
      "id": "1198b7ec-a504-45b4-8b1d-47c10e35dbeb",
      "name": "Parse draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $('Parse draft').first().json.normalized;\nconst post = {\n  ...p,\n  author: {\n    name: 'Prof. Giv Sharifi',\n    title: 'Board-Certified Neurosurgeon',\n    url: 'https://www.givsharifi.com/',\n  },\n  featuredImage: `/${p.featuredImagePath}`,\n};\ndelete post.primaryKeyword;\ndelete post.wordCountEstimate;\nreturn [{ json: { post_json: JSON.stringify(post, null, 2) + '\\n', slug: p.slug } }];\n"
      },
      "id": "7b8fd551-b648-4362-b0fa-5aa930567ab7",
      "name": "Build post JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "blog/_post-shell.html"
      },
      "id": "548395e6-b3b7-4664-a7ee-2d3584771eb6",
      "name": "Get post HTML shell",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'posts/data/' + $('Parse draft').item.json.normalized.slug + '.json' }}",
        "fileContent": "={{ $('Build post JSON').item.json.post_json }}",
        "commitMessage": "=content: publish blog {{ $('Parse draft').item.json.normalized.slug }}"
      },
      "id": "1c08f271-cd1a-43b9-8cf1-ccddc57fd7ea",
      "name": "Create post JSON",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ 'blog/' + $('Parse draft').item.json.normalized.slug + '/index.html' }}",
        "fileContent": "={{ $('Get post HTML shell').item.json.content }}",
        "commitMessage": "=content: add blog shell {{ $('Parse draft').item.json.normalized.slug }}"
      },
      "id": "84a53e5b-bdc8-4ecb-9d98-b0c3346132a9",
      "name": "Create blog HTML page",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "={{ $('Parse draft').item.json.normalized.featuredImagePath }}",
        "fileContent": "={{ $('Parse draft').item.json.image_base64 }}",
        "commitMessage": "=content: add blog image {{ $('Parse draft').item.json.normalized.slug }}"
      },
      "id": "9282b7eb-ede3-449d-b021-8e1c7345b4dd",
      "name": "Upload featured WebP",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1320,
        160
      ],
      "notes": "Prefer WebP via Convert to File node before upload \u2014 wire after import"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json"
      },
      "id": "00d73173-738b-4df3-a241-59b40256c75a",
      "name": "Get posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ghItem = $('Get posts index').first().json;\nconst github = ghItem.body ?? ghItem;\nif (github.message && !github.content) {\n  throw new Error(`GitHub API: ${github.message}`);\n}\nlet raw = github.content ?? '';\nif (github.encoding === 'base64' && raw) {\n  raw = Buffer.from(String(raw).replace(/\\n/g, ''), 'base64').toString('utf8');\n}\nraw = String(raw).trim();\nif (!raw) throw new Error('posts/data/index.json content empty');\nconst idx = JSON.parse(raw);\nconst p = $('Parse draft').first().json.normalized;\nidx.posts = [{\n  slug: p.slug,\n  title: p.title,\n  excerpt: p.excerpt,\n  date: p.date,\n  category: p.category,\n  image: `/${p.featuredImagePath}`,\n}, ...(idx.posts || [])];\nreturn [{ json: { index_json: JSON.stringify(idx, null, 2) + '\\n', index_sha: github.sha || '' } }];\n"
      },
      "id": "cff74731-897a-457a-8e48-0eb50021a5c2",
      "name": "Prepend to index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alecasgari",
          "mode": "list",
          "cachedResultName": "alecasgari",
          "cachedResultUrl": "https://github.com/alecasgari"
        },
        "repository": {
          "__rl": true,
          "value": "givsharifi-website",
          "mode": "list",
          "cachedResultName": "givsharifi-website",
          "cachedResultUrl": "https://github.com/alecasgari/givsharifi-website"
        },
        "branch": "main",
        "filePath": "posts/data/index.json",
        "fileContent": "={{ $json.index_json }}",
        "commitMessage": "=content: update blog index {{ $('Parse draft').item.json.normalized.slug }}",
        "additionalParameters": {
          "sha": "={{ $json.index_sha }}"
        }
      },
      "id": "329539ea-5a00-4d36-8fd8-5ae16d6d57a4",
      "name": "Update posts index",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms",
          "mode": "list",
          "cachedResultName": "giv-content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 521343457,
          "mode": "list",
          "cachedResultName": "content-calendar-template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yMd8rsnzDq8zXmOm-XnCC_jYU5NcjW5P84MdYnTi-ms/edit#gid=521343457"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Parse draft').item.json.row.id }}",
            "status": "published",
            "published_url": "={{ 'https://www.givsharifi.com/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "2fbf2533-97c7-4cf2-8ab5-d408ca8dbffa",
      "name": "Sheet status published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('When called by router').item.json.chat_id || $env.GIV_TELEGRAM_ALLOWED_CHAT_ID }}",
        "text": "={{ '\u2705 Blog published\\n\\n' + $('Parse draft').item.json.normalized.title + '\\n\\n' + $env.GIV_SITE_URL + '/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Open on website",
                      "additionalFields": {
                        "url": "={{ $env.GIV_SITE_URL + '/blog/' + $('Parse draft').item.json.normalized.slug + '/' }}"
                      }
                    }
                  ]
                }
              }
            ]
          ]
        }
      },
      "id": "833b3419-7a5f-4b85-9257-fea75cdd57e7",
      "name": "Telegram published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Publish on approve\nLoads draft from `posts/data/_drafts/{slug}.json` \u2192 GitHub post + shell + image + index \u2192 Sheet published"
      },
      "id": "1495e755-f439-4b22-ab7c-516a6ebad07d",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ]
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Read sheet row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read sheet row": {
      "main": [
        [
          {
            "node": "Find row by id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find row by id": {
      "main": [
        [
          {
            "node": "Get draft JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get draft JSON": {
      "main": [
        [
          {
            "node": "Parse draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse draft": {
      "main": [
        [
          {
            "node": "Build post JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get post HTML shell",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload featured WebP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post JSON": {
      "main": [
        [
          {
            "node": "Create post JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get post HTML shell": {
      "main": [
        [
          {
            "node": "Create blog HTML page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post JSON": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blog HTML page": {
      "main": [
        [
          {
            "node": "Get posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts index": {
      "main": [
        [
          {
            "node": "Prepend to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepend to index": {
      "main": [
        [
          {
            "node": "Update posts index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update posts index": {
      "main": [
        [
          {
            "node": "Sheet status published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet status published": {
      "main": [
        [
          {
            "node": "Telegram published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67837971-b848-475e-8d93-8e843f3b8f1f",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "givsharifi"
    },
    {
      "name": "blog"
    }
  ]
}
